/* VC_VENDORS */
.wcv-dashboard-navigation ul{
    padding-left: 0;
}
.wc-vendors-dashboard .date-pick{
    padding: 9px 35px;
    margin-right: 10px;
}
.wc-vendors-date-picker p > *{
    vertical-align: middle;
}
.wcv-shop-settings #pv_paypal,
.wcv-shop-settings #pv_shop_name{
    margin-top: 10px;
}
.wcv-shop-settings #pv_seller_info_container,
.wcv-shop-settings #pv_shop_description_container{
    margin-bottom: 20px;
}
.wcv-shop-settings .form-row.notes > *{
    margin-right: 10px;
    float: left;
}
.wcv-shop-settings .form-row.notes input{
    float: right;
}
.wcfm-membership-wrapper{
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    margin: 0;
}
@media (max-width: 991px){
    .wcv-shop-settings table{
        display: inline-block;
        width: 100%;
    }
    .wcv-shop-settings tbody,
    .wcv-shop-settings tr{
        display: block;
    }
    .wcv-shop-settings td{
        display: inline-block;
        float: left;
        width: 50%;
        margin-top: -1px;
    }
    .wcv-shop-settings .form-row.notes > *{
        display: inline-block;
        float: none !important;
        margin-right: 0;
        width: 100%
    }
}
@media (max-width: 400px){
    .wcv-shop-settings td{
        float: none;
        width: 100%;
    }
}
/* DOKAN */
.dokan-dashboard ul.subsubsub{
    font-size: inherit;
    color: inherit;
}
.dokan-dashboard ul.subsubsub li.active a{
    color: #d9534f;
}
.site-main .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info i{
    margin-top: 0;
}
.site-main .dokan-form-control{
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    color: inherit;
    display: block;
    font-size: inherit;
    min-height: 26px;
    line-height: inherit;
    vertical-align: middle;
}
.dokan-dashboard .dokan-orders-content .dokan-orders-area ul.order-statuses-filter li.active a{
    color: #d9534f;
}
.dokan-dashboard .dokan-orders-content .dokan-orders-area ul.order-statuses-filter{
    color: inherit;
    font-size: inherit;
}
.dokan-dashboard select.dokan-form-control{
    height: 44px;
}
.dokan-dashboard #product-filter .dokan-form-group > *{
    display: inline-block;
    margin-right: 9px;
    width: auto;
}
.dokan-dashboard .dokan-settings-content .dokan-settings-area .dokan-banner{
    width: 100%;
    margin-left: 0;
    max-width: inherit;
}
.dokan-dashboard .dokan-settings-content .dokan-settings-area .button-area{
    margin-top: 95px;
}
.product-edit-new-container label input[type="checkbox"]{
    margin-top: 0;
}
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.settings i.pull-right{
    padding-top: 0;
}
.dokan-dashboard header.dokan-dashboard-header h1 .dokan-btn{
    font-size: initial;
}
@media (max-width: 1199px){
    .dokan-settings-content .dokan-form-group.dokan-left{
        width: 100%;
    }
}
@media (max-width: 991px){
    .dokan-settings-content .dokan-w5,
    .dokan-settings-content .dokan-w6{
        width: 70%;
    }
}
@media (max-width: 430px){
    .dokan-dashboard .dokan-settings-content .dokan-settings-area .button-area{
        margin-top: 35px;
    }
}
/*----- SHOP -----*/
.dokan-widget-area .dokan-store-widget #cat-drop-stack > ul{
    max-height: 400px !important;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.dokan-widget-area .widget{
    margin-bottom: 62px;
}
@media (max-width: 1199px){
    .dokan-widget-area .widget{
        margin-bottom: 30px;
    }
}
/*----- PAGINATION -----*/
.dokan-pagination-container ul.dokan-pagination{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.dokan-pagination-container ul.dokan-pagination > li{
    display: inline-block;
}
.dokan-pagination-container ul.dokan-pagination{
    display: block;
    border-radius: 0;
    margin: 0;
    clear: both;
    font-size: 14px;
    line-height: 40px;
    padding: 2px 0;
}
.dokan-pagination-container > ul.dokan-pagination{
    display: inline-block;
    vertical-align: top;
    margin: 0 -1px;
}
.dokan-pagination-container ul.dokan-pagination li a{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin: 0 2px;
    text-align: center;
    min-width: 40px;
}
/*==========================================================================
VENDOR
===========================================================================*/
/* vendor */
.by-vendor-name-link{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: inherit;
    text-transform: capitalize;
}
.by-vendor-name-link .text{
    font-size: 13px;
    font-weight: 400;
    color: #888;
    text-transform: none;
}
.entry-summary .wcfmmp_sold_by_container,
.entry-summary .by-vendor-name-link{
    display: inline-block !important;
    vertical-align: top;
    margin: 5px 15px 0 0;
}
.entry-summary .wcfmmp_sold_by_container + .woocommerce-product-rating,
.entry-summary .by-vendor-name-link + .woocommerce-product-rating{
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0;
}
/*----- DOKAN -----*/
.dokan-store-sidebar{
    margin-right: 3%;
}
.media-frame input[type=search]{
    height: auto;
}
.media-router .media-menu-item{
    color: inherit;
}
.media-modal-content .media-frame select.attachment-filters{
    padding: 0 20px 0 5px;
}
body #dokan-seller-listing-wrap.grid-view .store-footer{
    z-index: auto;
}
body #dokan-seller-listing-wrap.grid-view .store-content{
    z-index: auto;
}
body #dokan-store-listing-filter-wrap label{
    vertical-align: middle;
}
body #dokan-store-listing-filter-wrap .right .item .dokan-icons{
    z-index: 1;
}
body .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info{
    padding: 0;
}
body .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info i{
    float: none;
    margin: 0 5px 0 0;
    font-weight: 400;
    min-width: 16px;
    text-align: center;
}
body .dokan-store-menu #cat-drop-stack .children{
    display: none;
    clear: both;
}
body .dokan-store-menu #cat-drop-stack li a{
    border: none !important;
}
body textarea.dokan-form-control{
    padding: 7px 20px;
}
body #dokan-seller-listing-wrap.grid-view .store-content .store-data-container .featured-favourite{
    top: auto;
    margin-top: 10px;
}
body #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-footer a{
    display: inline-block;
    vertical-align: top;
}
body #dokan-seller-listing-wrap.grid-view .store-footer .dokan-btn-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.woocommerce div.product .wc-tabs-wrapper .woocommerce-Tabs-panel--seller > h2,
.woocommerce div.product .wc-tabs-wrapper .panel.woocommerce-Tabs-panel--seller > h2,
.woocommerce div.product .wc-tabs-wrapper .panel.mf-Tabs-panel--seller > h2{
    font-size: 20px;
    text-transform: uppercase;
}
.woocommerce div.product .wc-tabs-wrapper .woocommerce-Tabs-panel--seller ul .store-name span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .panel.woocommerce-Tabs-panel--seller ul .store-name span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .panel.mf-Tabs-panel--seller ul .store-name span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .woocommerce-Tabs-panel--seller ul .seller-name span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .panel.woocommerce-Tabs-panel--seller ul .seller-name span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .panel.mf-Tabs-panel--seller ul .seller-name span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .woocommerce-Tabs-panel--seller ul .store-address span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .panel.woocommerce-Tabs-panel--seller ul .store-address span:not(.details),
.woocommerce div.product .wc-tabs-wrapper .panel.mf-Tabs-panel--seller ul .store-address span:not(.details){
    font-weight: 600;
    color: #333;
}
.dokan-pagination-container .dokan-pagination li.disabled a{
    pointer-events: none;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu{
    font-size: 14px;
    line-height: 24px;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after{
    left: auto;
    right: 0;
}
.dokan-dashboard #order_date_filter{
    width: 220px !important;
    padding-bottom: 10px !important;
}
.dokan-dashboard .select2-container{
    vertical-align: top;
}
.site-main input[type="submit"].dokan-btn,
.site-main a.dokan-btn,
.site-main .dokan-btn,
.site-main input[type="submit"].dokan-btn-theme,
.site-main a.dokan-btn-theme,
.site-main .dokan-btn-theme{
    vertical-align: top;
    border-radius: 0;
    padding: 10px 20px;
    font-size: inherit;
    line-height: inherit;
    border: none;
}
.dokan-product-listing .dokan-product-listing-area .product-listing-top{
    line-height: inherit;
}
.dokan-add-new-product-popup #dokan-product-images ul.product_images li.image.add-image a, .dokan-add-new-product-popup #dokan-product-images ul.product_images li.dokan-sortable-placeholder.add-image a, .dokan-add-new-product-popup #dokan-product-images ul.product_images li.add-image.add-image a{
    text-decoration: none !important;
}
.media-modal-close:active, .media-modal-close:hover{
    text-decoration: none !important;
}
.dokan-store-sidebar{
    font-size: 14px;
    line-height: 20px;
}
.dokan-store-sidebar .widget:not(:last-child){
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 40px;
}
.dokan-store-sidebar .widget .widget-title{
    margin-bottom: 16px;
}
.dokan-category-menu{
    border: none;
}
.dokan-category-menu h3.widget-title{
    padding: 0;
    background-color: transparent;
    border: none;
}
.dokan-store-menu ul{
    max-height: none !important;
}
.dokan-category-menu ul li,
.dokan-store-menu ul li{
    padding: 8px 0;
}
.dokan-category-menu ul ul,
.dokan-store-menu ul ul{
    margin: 8px 0 -8px;
}
.dokan-category-menu ul li a:not(:hover),
.dokan-store-menu ul li a:not(:hover){
    color: inherit;
}
.dokan-category-menu #cat-drop-stack > ul li a{
    color: inherit;
    padding: 8px 0;
    font-size: inherit;
}
.dokan-category-menu #cat-drop-stack > ul li.parent-cat-wrap a{
    margin: 0;
    border-bottom: none;
}
.dokan-category-menu #cat-drop-stack > ul li.parent-cat-wrap a:hover{
    text-decoration: underline;
}
.dokan-store-widget form.seller-form ul li{
    margin-bottom: 15px;
}
.dokan-single-store .profile-frame{
    margin-bottom: 20px;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery{
    background-color: #f5f5f5;
    padding: 0;
    border: none;
}
.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info-head .profile-img{
    margin: 0;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info-head{
    width: 256px;
    margin: 0;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info-head .profile-img img{
    border: none;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info{
    padding: 13px 20px;
    width: calc(100% - 256px);
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .store-name{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5d5;
    margin: 0 0 10px;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info{
    padding-left: 22px;
    margin: 0;
}
.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info li{
    padding-bottom: 4px;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info li{
    float: none;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info li:before{
    display: none;
}
.dokan-single-store .dokan-store-tabs ul{
    border: none;
    background-color: #f5f5f5;
}
.dokan-single-store .dokan-store-tabs ul li{
    border: none;
}
.dokan-single-store .dokan-store-tabs ul li a{
    padding: 10px 25px;
    font-weight: 600;
}
.dokan-single-store .dokan-store-tabs ul li a:hover{
    background-color: transparent;
    color: #000;
}
.dokan-single-store .profile-frame .profile-info-box a{
    text-decoration: none !important;
}
.dokan-single-store .profile-frame .profile-info-box a:hover{
    opacity: 0.7;
}
.dokan-single-store .profile-frame .profile-info-box a .fa-youtube-square:before{
    content: "\f166";
}
#dokan-seller-listing-wrap .seller-listing-content .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-data h2{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
}
#dokan-seller-listing-wrap.grid-view .store-content .store-data-container .store-data h2 a{
    font-size: inherit;
    line-height: inherit;
}
#dokan-seller-listing-wrap .seller-listing-content .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-data .dokan-seller-rating i.dashicons{
    height: auto;
}
body #dokan-seller-listing-wrap.grid-view .store-content .store-data-container .featured-favourite{
    margin-bottom: 15px;
}
#dokan-seller-listing-wrap.grid-view .store-content .store-data-container .store-data .store-address br{
    display: none;
}
.dokan-dashboard .fa.fa-long-arrow-left:before{
    content: "\f177";
}
.dokan-dashboard .fa.fa-external-link:before{
    content: "\f08e";
}
.dokan-dashboard .fa.fa-dashboard:before,
.dokan-dashboard .fa.fa-tachometer:before{
    content: "\f0e4";
}
body.dokan-store .site-content > .footer{
    margin: 60px 0 -60px;
}
@media (max-width: 767px){
    body.dokan-store .site-content > .footer{
        margin: 40px 0 -40px;
    }
    .dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info{
        width: 100%;
    }
}
/*----- WCFM -----*/
.wcfm_dashboard_item_title{
    text-transform: capitalize;
}
.wcfm_buttons{
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 4px 3px;
    background-color: rgba(0,0,0,0.1);
}
.wcfm_buttons .wcfm_button{
    font-size: inherit;
    line-height: inherit;
    height: auto;
    width: auto;
    border-radius: 0;
    padding: 0 5px;
    color: inherit;
}
.wcfm_buttons .wcfm_button:hover{
    color: #000;
}
.wcfm-store-page #primary{
    width: 100% !important;
    padding: 60px 0 !important;
    box-shadow: 0 1px #eee inset !important;
}
.wcfm-store-page #main{
    width: 100% !important;
    padding: 0 15px !important;
    margin: 0 auto !important;
}
@media (min-width: 768px){
    .wcfm-store-page #main{
        width: 750px !important;
    }
}
@media (min-width: 992px){
    .wcfm-store-page #main{
        width: 970px !important;
    }
}
@media (min-width: 1200px){
    .wcfm-store-page #main{
        width: 1170px !important;
    }
}
.wcfm_dashboard_stats_block a{
    text-decoration: none;
}
.wcfm_popup_form select, .wcfm_popup_form input[type=text], #wcfm-main-contentainer input[type=password], #wcfm-main-contentainer input[type=text], #wcfm-main-contentainer select, #wcfm-main-contentainer input[type=number], #wcfm-main-contentainer input[type=time], #wcfm-main-contentainer input[type=search], #wcfm-main-contentainer textarea{
    border: none !important;
    box-shadow: 0 0 0 1px #e6e6e6 inset;
}
.wcfm_filters_wrap{
    margin-top: 4px !important;
}
#wcfm-main-content{
    padding: 30px 0;
    max-width: 100%;
}
#wcfm-main-contentainer .wcfm_membership_boxes{
    margin-top: 30px;
}
#wcfm-main-contentainer .dataTables_wrapper .select2-container,
#wcfm-main-contentainer .select2-container{
    box-shadow: none;
}
#wcfm-main-contentainer .dataTables_wrapper .select2-container .select2-selection,
#wcfm-main-contentainer .select2-container .select2-selection{
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    box-shadow: 0 0 0 1px #e6e6e6 inset;
}
#wcfm-main-contentainer input.wcfm_bulk_mark_read, #wcfm-main-contentainer input.wcfm_bulk_mark_delete{
    margin: 5px 0 5px 10px !important;
    padding: 8px 15px !important;
}
#wcfm-main-contentainer input.wcfm_submit_button, #wcfm-main-contentainer button.wcfm_submit_button, #wcfm-main-contentainer a.wcfm_submit_button, #wcfm-main-contentainer .wcfm_add_category_bt, #wcfm-main-contentainer .wcfm_add_attribute, #wcfm-main-contentainer .wcfm_add_attribute_term, #wcfm-main-contentainer input.upload_button, #wcfm-main-contentainer input.remove_button, #wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button, #wcfm_vendor_approval_response_button, #wcfm_bulk_edit_button, #wcfm_enquiry_submit_button{
    line-height: 22px;
    text-decoration: none;
    padding: 8px 15px !important;
    border-radius: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}
#wcfm-main-contentainer input.remove_button{
    line-height: 1;
    padding: 4px 5px 4px 6px !important;
}
#wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button{
    margin-top: 9px;
}
#wcfm_order_status, #wcfm_booking_status, #wcfm_appointment_status, #wcfm_subscription_status, #wcfm_change_vendor_membership, #wcfm-main-contentainer .wcfm-date-range, #wcfm-main-contentainer .dataTables_wrapper input[type=text].wcfm-text, #wcfm-main-contentainer .dataTables_wrapper select, #wcfm-main-contentainer .wcfm_filters_wrap .select2-container, #wcfm-main-contentainer .wcfm_products_filter_wrap .select2-container, #wcfm-main-contentainer .wcfm_products_stock_manage_filter_wrap .select2-container,
#wcfm-main-contentainer .wcfm_enquiry_filter_wrap .select2-container{
    margin: 5px;
}
#wcfm-main-contentainer .wcfm_products_filter_wrap .select2-selection--single,
#wcfm-main-contentainer .wcfm_products_stock_manage_filter_wrap .select2-selection--single,
#wcfm-main-contentainer .wcfm_enquiry_filter_wrap .select2-selection--single{
    margin: 0;
}
#wcfm-main-contentainer .dataTables_wrapper #wcfm-media_length select{
    vertical-align: inherit;
}
#wcfm-main-contentainer .wcfm_filters_wrap{
    vertical-align: top;
}
#wcfm-main-contentainer .page_collapsible label{
    line-height: inherit;
    margin-bottom: 0;
}
#wcfmmp-store .widget:not(:last-child){
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
#wcfmmp-store .sidebar_heading{
    margin-bottom: 16px;
}
#wcfmmp-store .sidebar_heading h4{
    font-size: 18px;
    line-height: 24px;
    color: #000 !important;
    text-transform: none;
    margin-top: -4px;
}
#wcfmmp-store .sidebar_heading h4:last-child{
    margin-bottom: 0;
}
#wcfmmp-store input[type=search]{
    width: 100%;
}
#wcfmmp-store .categories_list ul li{
    margin: 8px 0;
}
#wcfmmp-store .categories_list ul li.parent_cat a{
    font-size: 14px;
}
#wcfmmp-store .categories_list ul li a{
    font-size: inherit;
}
#wcfmmp-stores-lists .wcfmmp-store-list-map{
    z-index: 1;
}
#wcfmmp-store .chosen-container .chosen-results{
    padding: 0;
}
#wcfmmp-store .chosen-container .chosen-results li{
    padding: 8px 10px;
}
.wcfmmp-store-search-form input.wcfmmp-radius-addr,
.wcfmmp-store-search-form input.wcfm-search-field,
.wcfmmp-store-search-form input#search,
.wcfmmp-store-search-form select#wcfmmp_store_category,
.wcfmmp-store-search-form select#wcfmmp_store_country,
.wcfmmp-store-search-form #wcfmmp_store_state,
.wcfmmp-store-search-form .select2-container,
.wcfmmp-store-search-form .wcfmmp-search-box,
#wcfmmp_store_orderby{
    box-shadow: none;
    border-radius: 0;
    height: auto;
}
.skin-market .wcfmmp-store-search-form input.wcfmmp-radius-addr,
.skin-market .wcfmmp-store-search-form input.wcfm-search-field,
.skin-market .wcfmmp-store-search-form input#search,
.skin-market .wcfmmp-store-search-form select#wcfmmp_store_category,
.skin-market .wcfmmp-store-search-form select#wcfmmp_store_country,
.skin-market .wcfmmp-store-search-form #wcfmmp_store_state,
.skin-market .wcfmmp-store-search-form .select2-container,
.skin-market .wcfmmp-store-search-form .wcfmmp-search-box,
.skin-market #wcfmmp_store_orderby{
    border-radius: 90px;
}
.wcfmmp-store-search-form .select2-container--default .select2-selection--single{
    box-shadow: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.store-data-container .store-phone i{
    vertical-align: top;
}
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li a.wcfmmp-visit-store{
    border: none;
}
.vendor_rating .wcfmmp-store-rating,
.wcfmmp_sold_by_container .wcfmmp-store-rating{
    display: inline-block;
    vertical-align: top;
}
#wcfm-main-contentainer #wcfm_settings_form_payment_head label.wcfmfa{
    line-height: 22px;
}
.wcfmmp_sold_by_wrapper img.wcfmmp_sold_by_logo{
    width: 24px !important;
}
#wcfmmp-store ul{
    padding: 0;
}
#wcfmmp-store ul.shop-page{
    padding: 0;
    margin: 0 -15px 10px;
}
#wcfmmp-store .product_area .products-wrapper ul li.product{
    padding: 0 15px;
    margin-bottom: 30px;
}
#wcfmmp-store .shop-page.ovic-products.style-27,
#wcfmmp-store .shop-page.ovic-products.style-01{
    margin: 0 0 40px;
}
#wcfmmp-store .product_area .products-wrapper .shop-page.ovic-products.style-27 li.product,
#wcfmmp-store .product_area .products-wrapper .shop-page.ovic-products.style-01 li.product{
    padding: 0;
    margin: 0;
}
#wcfmmp-store .widget .product_list_widget > li > a:not(.remove) ~ *{
    margin-left: 0;
}
@media (max-width: 767px){
    #wcfmmp-store ul.shop-page{
        margin: 0 -10px 10px;
    }
    #wcfmmp-store .product_area .products-wrapper ul li.product{
        padding: 0 10px;
        margin-bottom: 20px;
    }
    #wcfmmp-store .shop-page.ovic-products.style-27,
    #wcfmmp-store .shop-page.ovic-products.style-01{
        margin: 0 0 30px;
    }
}
@media (max-width: 479px){
    #wcfmmp-store ul.shop-page{
        padding: 0;
        margin: 0 -5px 20px;
    }
    #wcfmmp-store .product_area .products-wrapper ul li.product{
        padding: 0 5px;
        margin-bottom: 10px;
    }
}
/*----- WC MARKETPLACE -----*/
body #report_abuse{
    font-weight: 600;
}
body .wcmp_vendor_banner_template.template1 .img_div img{
    border: none;
}
body .vendor_description_background{
    line-height: inherit;
}
body .wcmp_vendor_rating{
    margin: 0 0 10px;
}
body #wcmp-store-conatiner .wcmp-store-detail-list li{
    padding-left: 35px;
}
body #wcmp-store-conatiner .wcmp-store-detail-list li i{
    top: 0;
    left: 0;
    right: auto;
    font-size: 20px;
    line-height: 30px;
}
body #wcmp-store-conatiner .store-name{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 30px;
}
body #wcmp-store-conatiner p{
    font-size: 15px;
    line-height: 24px;
    padding: 3px 0;
}
body #wcmp-store-conatiner .wcmp-store-picture{
    border: none;
    background-color: transparent;
}
body #wcmp-store-conatiner .wcmp-store-picture:after{
    display: none;
}
body .wcmp_social_profile a:hover{
    text-decoration: none;
    opacity: 0.7;
}
@media (max-width: 1100px){
    body .wcmp_vendor_banner_template.template1 .vendor_description{
        border: 1px solid #ddd;
    }
}
/*==========================================================================
VENDOR RTL
===========================================================================*/
/*----- DOKAN -----*/
body.rtl .dokan-store-sidebar{
    margin-right: 0;
    margin-left: 3%;
}
body.rtl .media-modal-content .media-frame select.attachment-filters{
    padding: 0 20px 0 5px;
}
body.rtl .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info i{
    margin: 0 5px 0 0;
}
/*----- WCFM -----*/
/*----- WC MARKETPLACE -----*/