
/*----- TABS -----*/
/* style-01 */
.ovic-tab.style-01{
    border: 1px solid #e6e6e6;
    border-top-width: 0;
}
.ovic-tab.style-01 .tabs{
    display: flex;
    padding-bottom: 15px;
    margin-bottom: -15px;
    position: relative;
}
.ovic-tab.style-01 .tab-item{
    flex: 1 1 auto;
    width: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.ovic-tab.style-01 .tab-item:first-child{
    border-left-color: transparent;
}
.ovic-tab.style-01 .tab-link{
    text-align: center;
    height: 67px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    padding: 0 15px;
    background-color: #fff;
}
.ovic-tab.style-01 .tab-item.active .tab-link,
.ovic-tab.style-01 .tab-link:hover{
    z-index: 5;
}
.ovic-tab.style-01 .tab-item.active .tab-link::before,
.ovic-tab.style-01 .tab-link:hover::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-style: solid;
    border-width: 2px;
}
.ovic-tab.style-01 .tab-item.active .tab-link .hover::before,
.ovic-tab.style-01 .tab-link:hover .hover::before{
    position: absolute;
    content: '';
    top: calc(100% - 1px);
    left: calc(50% - 10px);
    width: 20px;
    height: 10px;
    border-style: solid;
    border-width: 10px 0 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.ovic-tab.style-01 .tab-item.active .tab-link .hover::after,
.ovic-tab.style-01 .tab-link:hover .hover::after{
    position: absolute;
    content: '';
    top: calc(100% - 1px);
    left: calc(50% - 7px);
    width: 14px;
    height: 7px;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.ovic-tab.style-01 .tabs .thumb,
.ovic-tab.style-01 .tabs .title{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.ovic-tab.style-01 .tabs img{
    margin: auto;
}
.ovic-tab.style-01 .tabs .thumb ~ .title{
    display: none;
}
/* style-02 */
.ovic-tab.style-02 .tabs-head{
    display: flex;
    padding-right: 100px;
}
.ovic-tab.style-02 .tab-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding: 15px 30px;
    position: relative;
    margin: 0 75px 0 0;
}
.ovic-tab.style-02 .tab-title::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    transform: skew(-35deg);
}
.ovic-tab.style-02 .tab-item:not(.active) a:not(:hover){
    color: #fff;
}
.ovic-tab.style-02 .tab-title .text{
    position: relative;
}
.ovic-tab.style-02 .tabs{
    flex: 1 1 auto;
    width: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    padding: 13px 0;
    margin: 0 -15px;
}
.ovic-tab.style-02 .tab-item{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}
.ovic-tab.style-02 .ovic-products .slick-slider{
    position: static;
}
.ovic-tab.style-02 .ovic-products .slick-slider .slick-arrow{
    width: 24px !important;
    height: auto !important;
    font-size: 10px !important;
    line-height: 24px !important;
    font-weight: 600 !important;
    background-color: #fff !important;
    text-align: center !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
.ovic-tab.style-02 .ovic-products .slick-slider .slick-arrow::after{
    display: none;
}
.ovic-tab.style-02 .ovic-products .slick-slider .slick-arrow.prev{
    top: 18px !important;
    left: auto !important;
    bottom: auto !important;
    right: 54px !important;
    border-radius: 0 !important;
    padding: 0 !important;
}
.ovic-tab.style-02 .ovic-products .slick-slider .slick-arrow.next{
    top: 18px !important;
    bottom: auto !important;
    right: 20px !important;
    border-radius: 0 !important;
    padding: 0 0 0 2px !important;
}
.ovic-tab.style-03 .product-item .product-labels > *,
.ovic-tab.style-02 .product-item .product-labels > *{
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}
.ovic-tab.style-03 .product-item .product-labels > * > *,
.ovic-tab.style-02 .product-item .product-labels > * > *{
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
/* style-03 */
.ovic-tab.style-03 .tabs{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-right: 15px;
}
.ovic-tab.style-03 .tab-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 13px;
}
.ovic-tab.style-03 .tab-item::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: skew(-23deg);
    -moz-transform: skew(-23deg);
    -ms-transform: skew(-23deg);
    -o-transform: skew(-23deg);
    transform: skew(-23deg);
}
.ovic-tab.style-03 .tab-item a{
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding: 15px 20px 15px 30px;
    position: relative;
    color: #fff;
    text-decoration: none;
}
.ovic-tab.style-03 .button-wrap{
    float: right;
    padding: 15px 20px;
}
.ovic-tab.style-03 .button-wrap .button{
    font-weight: 400;
    padding: 3px 0;
    text-transform: none;
    text-decoration: underline;
    background-color: transparent;
}
/* style-04 */
.ovic-tab.style-04 .tabs-head{
    text-align: center;
    margin-bottom: 50px;
}
.ovic-tab.style-04 .tabs{
    display: inline-block;
    vertical-align: top;
    border-radius: 90px;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 0 1px #e6e6e6 inset;
}
.ovic-tab.style-04 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-04 .tab-link{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 13px 20px;
    text-decoration: none;
}
.ovic-tab.style-04 .tab-item:not(:last-child) .tab-link{
    box-shadow: -1px 0 #e6e6e6 inset;
    margin-right: -1px;
}
.ovic-tab.style-04 .tab-item:first-child .tab-link{
    padding-left: 30px;
}
.ovic-tab.style-04 .tab-item:last-child .tab-link{
    padding-right: 30px;
}
.ovic-tab.style-04 .tab-item.active .tab-link,
.ovic-tab.style-04 .tab-item .tab-link:hover{
    box-shadow: none;
}
/* style-05 */
.ovic-tab.style-05 .tabs-head{
    margin-bottom: 38px;
}
.ovic-tab.style-05 .tabs{
    text-align: center;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding-bottom: 12px;
}
.ovic-tab.style-05 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-05 .tab-item:not(:last-child){
    margin-right: 7px;
}
.ovic-tab.style-05 .tab-link{
    font-size: 14px;
    line-height: 20px;
    padding: 5px 14px;
    border-radius: 90px;
    background-color: #ede9e6;
    text-decoration: none;
}
.ovic-tab.style-05 .tab-item.active .tab-link{
    padding-left: 28px;
    padding-right: 28px;
}
/* style-06 */
.ovic-tab.style-06 .tabs-head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.ovic-tab.style-06 .tab-title{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    margin: 0 0 10px;
}
.ovic-tab.style-06 .tabs{
    flex: 1 1 auto;
    width: 1%;
    white-space: nowrap;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    color: #6e6e6e;
    padding: 0 0 10px;
    margin-left: 35px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.ovic-tab.style-06 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-06 .tab-item:not(:first-child){
    margin-left: 35px;
}
.ovic-tab.style-06 .button-wrap .button{
    background-color: transparent;
    font-size: 15px;
    line-height: 20px;
    color: #6e6e6e;
    text-transform: none;
    font-weight: inherit;
    padding: 0 0 10px;
    margin-left: 35px;
}
/* style-07 */
.ovic-tab.style-07 .tabs-head{
    display: flex;
    align-items: flex-end;
    box-shadow: 0 -2px #e0e0e0 inset;
    margin-bottom: 30px;
}
.ovic-tab.style-07 .tab-title{
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 17px;
}
.ovic-tab.style-07 .tabs{
    flex: 1 1 auto;
    width: 1%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #888;
    text-align: right;
    white-space: nowrap;
    margin-left: 30px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.ovic-tab.style-07 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-07 .tab-link{
    padding: 0 12px 12px;
    border-bottom: 5px solid transparent;
    text-decoration: none;
}
/* style-08 */
.ovic-tab.style-08 .tabs-head{
    text-align: center;
    margin-bottom: 50px;
}
.ovic-tab.style-08 .tabs-head::after{
    display: block;
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAANCAMAAAAjb+gZAAAAVFBMVEUAAADvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRkbvRka/BTXRAAAAG3RSTlMAAwasjVXv08A+KxwQp4duoIP49+ThknaTeGgYHn7oAAAAx0lEQVQoz33RWRKDIBAEUHDfQHHDOPe/ZxSkGgNkPizqjXTBwFypggVVxEyFpJFCJLJ3NxNxUyGVSCFqBr89NClTAU12LclU3aPd12mTP1QgJdfXZ+tcu9uIaBxD07nbh9+eEd0pGStnoqq11FZEc8lilrkcEFL4g4vBcjG748ZtDsjUfqHg9oirPeJ9l7VjKePiWu8gpPgDkxKTDQw5x4tOoom/ng/vnDQ+BXR6KcwM0Aw8acgBhcV3ooMnDTmgeOnPP0OOT19rLhtIxJ4vvgAAAABJRU5ErkJggg==');
    margin-top: 10px;
    font-size: 0;
    line-height: 0;
}
.ovic-tab.style-08 .tabs{
    font-size: 30px;
    line-height: 40px;
    color: #b7b7b7;
    font-weight: 700;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 11px;
}
.ovic-tab.style-08 .tab-item{
    display: inline-block;
    vertical-align: bottom;
}
.ovic-tab.style-08 .tab-item:not(:last-child){
    margin-right: 50px;
}
.ovic-tab.style-08 .tab-link{
    text-decoration: none;
}
.ovic-tab.style-08 .tab-item.active .tab-link{
    font-size: 40px;
    line-height: 48px;
}
.ovic-tab.style-08 .tabs .thumb{
    width: 40px;
}
/* style-09 */
.ovic-tab.style-09 .tabs-head{
    text-align: center;
    margin-bottom: 20px;
}
.ovic-tab.style-09 .tabs{
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding-bottom: 10px;
}
.ovic-tab.style-09 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-09 .tab-item:not(:last-child){
    margin-right: 12px;
}
.ovic-tab.style-09 .tab-link{
    font-size: 14px;
    line-height: 20px;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
}
.ovic-tab.style-09 .tab-item:not(.active) .tab-link:not(:hover)::before{
    opacity: 0.1;
}
.ovic-tab.style-09.lighter .tab-item:not(.active) .tab-link:not(:hover)::before{
    background-color: #edeffb;
    opacity: 1;
}
.ovic-tab.style-09 .tab-link::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: -1;
}
/* style-10 */
.ovic-tab.style-10 .tabs-head{
    margin-bottom: 26px;
}
.ovic-tab.style-10 .tabs{
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 24px;
    line-height: 30px;
    color: #b2b2b2;
    text-align: center;
    padding-bottom: 12px;
}
.ovic-tab.style-10 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-10 .tab-item:not(:last-child){
    margin-right: 48px;
}
.ovic-tab.style-10 .tabs .thumb{
    width: 30px;
}
/* style-11 */
.ovic-tab.style-11 .tabs-head{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.ovic-tab.style-11 .ovic-title{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
.ovic-tab.style-11 .tabs{
    flex: 1 1 auto;
    width: 1%;
    text-align: right;
    max-width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #888;
    padding: 4px 0 15px;
    margin: 0 0 0 30px;
}
.ovic-tab.style-11 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-11 .tab-link{
    padding: 1px 13px 0;
    text-decoration: none;
}
.ovic-tab.style-12 .ovic-products.style-01 .product-list-owl[data-slick*='"slidesMargin":0'],
.ovic-tab.style-11 .ovic-products.style-01 .product-list-owl[data-slick*='"slidesMargin":0']{
    border: 1px solid #e6e6e6;
}
/* style-12 */
.ovic-tab.style-12{
    display: flex;
}
.ovic-tab.style-12 .tabs-head{
    width: 270px;
    margin-right: 30px;
}
.ovic-tab.style-12 .tabs-container{
    flex: 1 1 auto;
    width: 1%;
}
.ovic-tab.style-12 .tabs{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}
.ovic-tab.style-12 .tab-item:not(:last-child){
    border-bottom: 1px solid #ebebeb;
}
.ovic-tab.style-12 .tab-link{
    height: 85px;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 10px 28px;
    text-decoration: none;
}
.ovic-tab.style-12 .tab-item:not(.active) .tab-link:not(:hover) .hover{
    width: 85%;
    opacity: 0;
    visibility: hidden;
}
.ovic-tab.style-12 .tab-link .hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ovic-tab.style-12 .tab-link .hover::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 100%;
    width: 15px;
    height: 30px;
    margin: auto;
    border-style: solid;
    border-width: 0 0 0 15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.ovic-tab.style-12 .tab-link .thumb{
    width: 30px;
    text-align: center;
    margin-right: 28px;
}
/* style-13 */
.ovic-tab.style-13 .tabs-head{
    text-align: center;
    margin: 0 0 15px;
}
.ovic-tab.style-13 .tabs{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    white-space: nowrap;
    overflow-y: hidden;
    padding: 0 0 15px;
    position: relative;
}
.ovic-tab.style-13 .tab-item{
    display: inline-block;
    vertical-align: top;
    border: 2px solid #e8e8e8;
}
.ovic-tab.style-13 .tab-item:not(:last-child){
    border-right-width: 0;
}
.ovic-tab.style-13 .tab-item:not(.active) .tab-link:not(:hover){
    opacity: 0.5;
}
.ovic-tab.style-13 .tab-link{
    width: 174px;
    padding: 19px 15px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ovic-tab.style-13 .tab-item:not(.active) .tab-link:not(:hover)::after,
.ovic-tab.style-13 .tab-item:not(.active) .tab-link:not(:hover)::before{
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}
.ovic-tab.style-13 .tab-link::before{
    position: absolute;
    content: '';
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
.ovic-tab.style-13 .tab-link::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    right: 0;
    width: 22px;
    height: 11px;
    margin: auto;
    border-style: solid;
    border-width: 11px 0 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
.ovic-tab.style-13 .tabs .thumb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 62px;
    height: 55px;
    margin: 0 auto 3px !important;
}
.ovic-tab.style-13 .tabs .title{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* style-14 */
.ovic-tab.style-14 .tabs-head{
    display: flex;
    margin-bottom: 38px;
}
.ovic-tab.style-14 .tab-title{
    font-size: 36px;
    line-height: 46px;
    font-family: 'Caros Bold', sans-serif;
    font-weight: normal;
    margin: 0;
}
.ovic-tab.style-14 .tabs{
    flex: 1 1 auto;
    width: 1%;
    padding: 12px 0 12px 50px;
    text-align: right;
    font-family: 'Caros Medium', sans-serif;
    font-weight: normal;
}
.ovic-tab.style-14 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-14 .tab-item:not(:first-child){
    margin-left: 50px;
}
.ovic-tab.style-14 .tab-link{
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    padding: 2px 17px 2px 15px;
    text-decoration: none;
}
.ovic-tab.style-14 .tab-item:not(.active) .tab-link::before{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.ovic-tab.style-14 .tab-link::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
.ovic-tab.style-14 .tab-link .text{
    position: absolute;
    top: -8px;
    right: 0;
    font-size: 16px;
    line-height: 20px;
}
/* style-15 */
.ovic-tab.style-15 .tabs-head{
    text-align: center;
    margin-bottom: 30px;
}
.ovic-tab.style-15 .tab-title{
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.ovic-tab.style-15 .tabs{
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}
.ovic-tab.style-15 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-15 .tab-item:not(:last-child){
    margin-right: 28px;
}
.ovic-tab.style-15 .tab-link{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #fff !important;
    padding: 13px 18px;
    background-image: url(../../../assets/images/kids-bg-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    text-decoration: none;
    min-width: 160px;
}
.ovic-tab.style-15 .tab-item.active .tab-link,
.ovic-tab.style-15 .tab-item .tab-link:hover{
    background-image: url(../../../assets/images/kids-bg-1.png);
}
/* style-16 */
.ovic-tab.style-16 .tabs-head{
    display: flex;
    margin-bottom: 48px;
}
.ovic-tab.style-16 .tab-title{
    font-family: 'Caros Bold', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
}
.ovic-tab.style-16 .tabs{
    flex: 1 1 auto;
    width: 1%;
    padding: 6px 0;
    text-align: right;
    margin-left: 50px;
}
.ovic-tab.style-16 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-16 .tab-item:not(:last-child){
    margin-right: 45px;
}
.ovic-tab.style-16 .tab-link{
    font-family: 'Caros Medium', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.01em;
    padding: 2px 0;
    text-decoration: none;
}
.ovic-tab.style-16 .tab-item:not(.active) .tab-link::before{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.ovic-tab.style-16 .tab-link::before{
    position: absolute;
    content: '';
    top: 0;
    right: -13px;
    bottom: 0;
    width: 34px;
    height: 34px;
    border-radius: 90px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
/* style-17 */
.ovic-tab.style-17 .tabs-head{
    text-align: center;
    margin-bottom: 23px;
}
.ovic-tab.style-17 .tabs{
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 12px;
}
.ovic-tab.style-17 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-17 .tab-item:not(:last-child){
    margin-right: 65px;
}
.ovic-tab.style-17 .tab-link .thumb{
    width: 30px;
}
.ovic-tab.style-17 .tab-link .title{
    display: block;
    margin-top: 11px;
}
/* style-18 */
.ovic-tab.style-18 .tabs-head{
    text-align: center;
    margin-bottom: 21px;
}
.ovic-tab.style-18 .tabs{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 12px;
}
.ovic-tab.style-18 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-18 .tab-item:not(:last-child){
    margin-right: 55px;
    position: relative;
}
.ovic-tab.style-18 .tab-item:not(:last-child)::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -29px;
    height: 12px;
    border-right: 1px solid rgba(0,0,0,0.3);
    margin: auto;
}
.ovic-tab.style-18 .product-item.style-31 .product-inner{
    border: none;
}
.ovic-tab.style-18 .product-item.style-31 .thumb-link{
    padding: 20px;
}
.ovic-tab.style-18 .product-item.style-31 .product-info{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}
.ovic-tab.style-18 .product-item.style-31 .thumb-link::before{
    left: 20px;
    right: 20px;
}
.ovic-tab.style-18 .tab-link .title{
    display: inline-block;
    vertical-align: top;
}
/* style-19 */
.ovic-tab.style-19 .tabs-head{
    margin-bottom: 24px;
}
.ovic-tab.style-19 .tab-title{
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 15px;
}
.ovic-tab.style-19 .tabs{
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 12px;
}
.ovic-tab.style-19 .tab-item{
    display: inline-block;
    vertical-align: top;
}
.ovic-tab.style-19 .tab-item:not(:last-child){
    margin-right: 30px;
}
/* style-20 */
.ovic-tab.style-20 .tabs-head{
    text-align: center;
    margin-bottom: 47px;
}
.ovic-tab.style-20 .tabs{
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 12px;
}
.ovic-tab.style-20 .tab-item{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 28px;
    min-width: calc(16.66666666% - 40px);
}
.ovic-tab.style-20 .tab-item:not(:last-child){
    margin-right: 48px;
}
.ovic-tab.style-20 .tab-link .thumb{
    width: 55px;
}
.ovic-tab.style-20 .tab-link .title{
    display: block;
    margin-top: 8px;
}
/* style-21 */
.ovic-tab.style-21 .tabs-head{
    margin-bottom: 18px;
}
.ovic-tab.style-21 .tabs{
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: flex;
    padding-bottom: 12px;
}
.ovic-tab.style-21 .tab-item{
    width: 16.66666666%;
    min-width: 235px;
}
.ovic-tab.style-21 .tab-link{
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #b4b4b4;
    box-shadow: 0 0 0 1px #e2e2e2 inset;
    padding: 15px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ovic-tab.style-21 .tab-item:not(:first-child) .tab-link{
    margin-left: -1px;
}
.ovic-tab.style-21 .tab-item.active .tab-link,
.ovic-tab.style-21 .tab-item .tab-link:hover{
    z-index: 1;
}
.ovic-tab.style-21 .tab-item.active .tab-link .thumb svg *,
.ovic-tab.style-21 .tab-item .tab-link:hover .thumb svg *{
    fill: inherit !important;
}
.ovic-tab.style-21 .tabs .thumb{
    vertical-align: top;
    width: 30px;
    margin-right: 8px;
}
.ovic-tab.style-21 .tabs .thumb + .title{
    max-width: calc(100% - 38px);
}
@media (max-width: 1499px){
    .ovic-tab.style-06 .tabs,
    .ovic-tab.style-06 .tab-item:not(:first-child),
    .ovic-tab.style-06 .button-wrap .button{
        margin-left: 25px;
    }
    .ovic-tab.style-14 .tab-item:not(:first-child){
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .ovic-tab.style-01 .tabs{
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .ovic-tab.style-01 .tab-item{
        width: auto;
    }
    .ovic-tab.style-01 .tab-link{
        min-width: 159px;
    }
    .ovic-tab.style-05 .tabs-head{
        margin-bottom: 28px;
    }
    .ovic-tab.style-08 .tabs-head{
        margin-bottom: 40px;
    }
    .ovic-tab.style-08 .tabs-head::after{
        margin-top: 5px;
    }
    .ovic-tab.style-08 .tabs{
        font-size: 26px;
        line-height: 34px;
    }
    .ovic-tab.style-08 .tab-item.active .tab-link{
        font-size: 36px;
        line-height: 40px;
    }
    .ovic-tab.style-08 .tab-item:not(:last-child){
        margin-right: 40px;
    }
    .ovic-tab.style-10 .tabs{
        font-size: 22px;
        line-height: 28px;
    }
    .ovic-tab.style-10 .tab-item:not(:last-child){
        margin-right: 33px;
    }
    .ovic-tab.style-11 .tabs-head{
        margin-bottom: 13px;
    }
    .ovic-tab.style-12{
        display: block;
    }
    .ovic-tab.style-12 .tabs-head{
        width: auto;
        margin: 0 0 15px;
    }
    .ovic-tab.style-12 .tabs-container{
        width: auto;
    }
    .ovic-tab.style-12 .tabs{
        display: flex;
        white-space: nowrap;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        border: none;
        padding-bottom: 15px;
    }
    .ovic-tab.style-12 .tab-item{
        border: 1px solid #ebebeb;
    }
    .ovic-tab.style-12 .tab-item:not(:last-child){
        border-right-width: 0;
    }
    .ovic-tab.style-12 .tab-link{
        height: 75px;
    }
    .ovic-tab.style-12 .tab-item:not(.active) .tab-link:not(:hover) .hover{
        width: 100%;
        height: 80%;
    }
    .ovic-tab.style-12 .tab-link .hover::after{
        top: 100%;
        left: 0;
        right: 0;
        bottom: auto;
        width: 30px;
        height: 15px;
        border-style: solid;
        border-width: 15px 0 0;
        border-left: 15px solid transparent !important;
        border-right: 15px solid transparent !important;
        border-bottom: none !important;
    }
    .ovic-tab.style-12 .tab-link .thumb{
        margin-right: 18px;
    }
    .ovic-tab.style-14 .tabs-head{
        margin-bottom: 18px;
    }
    .ovic-tab.style-14 .tabs{
        white-space: nowrap;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .ovic-tab.style-16 .tabs-head{
        margin-bottom: 30px;
    }
    .ovic-tab.style-16 .tab-title{
        font-size: 32px;
        line-height: 40px;
    }
    .ovic-tab.style-16 .tabs{
        padding: 5px 0;
        white-space: nowrap;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .ovic-tab.style-16 .tab-item:not(:last-child){
        margin-right: 35px;
    }
    .ovic-tab.style-16 .tab-link{
        font-size: 18px;
        line-height: 26px;
    }
    .ovic-tab.style-16 .tab-link::before{
        right: -11px;
        width: 30px;
        height: 30px;
    }
    .ovic-tab.style-17 .tabs-head{
        margin-bottom: 13px;
    }
    .ovic-tab.style-17 .tab-link .title{
        margin-top: 6px;
    }
    .ovic-tab.style-17 .tab-item:not(:last-child){
        margin-right: 50px;
    }
    .ovic-tab.style-18 .tabs-head{
        margin-bottom: 13px;
    }
    .ovic-tab.style-20 .tabs-head{
        margin-bottom: 22px;
    }
    .ovic-tab.style-20 .tab-item{
        font-size: 16px;
        line-height: 26px;
        min-width: inherit;
    }
    .ovic-tab.style-20 .tab-link .thumb{
        width: 50px;
    }
}
@media (max-width: 991px){
    .ovic-tab.style-02 .tab-title{
        padding: 15px 20px;
        margin-right: 60px;
    }
    .ovic-tab.style-03 .tab-item a{
        padding: 15px 20px;
    }
}
@media (max-width: 767px){
    .ovic-tab.style-02 .tabs-head{
        display: block;
        padding: 0;
    }
    .ovic-tab.style-02 .tabs{
        display: block;
        width: auto;
        padding: 13px 0;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        margin: 0;
    }
    .ovic-tab.style-02 .tab-title{
        margin-right: 100px;
        padding: 15px;
    }
    .ovic-tab.style-03 .tabs{
        display: block;
    }
    .ovic-tab.style-03 .button-wrap{
        float: none;
        padding: 10px 15px;
    }
    .ovic-tab.style-03 .tab-item a{
        padding: 15px;
    }
    .ovic-tab.style-04 .tabs-head{
        margin-bottom: 30px;
    }
    .ovic-tab.style-04 .tab-link{
        font-size: 15px;
        line-height: 20px;
        padding: 11px 18px;
    }
    .ovic-tab.style-04 .tab-item:first-child .tab-link{
        padding-left: 25px;
    }
    .ovic-tab.style-04 .tab-item:last-child .tab-link{
        padding-right: 25px;
    }
    .ovic-tab.style-05 .tabs-head{
        margin-bottom: 18px;
    }
    .ovic-tab.style-06 .tabs-head{
        display: block;
    }
    .ovic-tab.style-06 .tabs{
        width: auto;
        margin: 0;
        text-align: inherit;
    }
    .ovic-tab.style-06 .button-wrap .button{
        margin: 0;
    }
    .ovic-tab.style-07 .tabs-head{
        display: block;
    }
    .ovic-tab.style-07 .tab-title{
        font-size: 24px;
    }
    .ovic-tab.style-07 .tabs{
        width: auto;
        margin-left: 0;
        font-size: 14px;
    }
    .ovic-tab.style-07 .tab-link{
        padding: 0 10px 6px;
        border-bottom-width: 3px;
    }
    .ovic-tab.style-08 .tabs-head{
        margin-bottom: 30px;
    }
    .ovic-tab.style-08 .tabs-head::after{
        margin-top: 0;
    }
    .ovic-tab.style-08 .tabs{
        font-size: 20px;
        line-height: 26px;
    }
    .ovic-tab.style-08 .tab-item.active .tab-link{
        font-size: 30px;
        line-height: 34px;
    }
    .ovic-tab.style-08 .tab-item:not(:last-child){
        margin-right: 30px;
    }
    .ovic-tab.style-10 .tabs-head{
        margin-bottom: 16px;
    }
    .ovic-tab.style-10 .tabs{
        font-size: 20px;
        line-height: 26px;
    }
    .ovic-tab.style-10 .tab-item:not(:last-child){
        margin-right: 18px;
    }
    .ovic-tab.style-11 .tabs-head{
        display: block;
        margin-bottom: 8px;
    }
    .ovic-tab.style-11 .tabs{
        width: auto;
        margin-left: 0;
    }
    .ovic-tab.style-14 .tabs-head{
        display: block;
        margin-bottom: 8px;
    }
    .ovic-tab.style-14 .tab-title{
        font-size: 28px;
        line-height: 34px;
    }
    .ovic-tab.style-14 .tabs{
        width: auto;
        padding-left: 0;
        text-align: inherit;
    }
    .ovic-tab.style-14 .tab-item:not(:first-child){
        margin-left: 15px;
    }
    .ovic-tab.style-14 .tab-link{
        font-size: 16px;
        line-height: 24px;
        padding: 2px 14px 2px 12px;
    }
    .ovic-tab.style-14 .tab-link::before{
        width: 28px;
        height: 28px;
    }
    .ovic-tab.style-14 .tab-link .text{
        font-size: 12px;
    }
    .ovic-tab.style-15 .tabs-head{
        margin-bottom: 20px;
    }
    .ovic-tab.style-15 .tab-title{
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 11px;
    }
    .ovic-tab.style-15 .tab-item:not(:last-child){
        margin-right: 18px;
    }
    .ovic-tab.style-15 .tab-link{
        font-size: 16px;
        line-height: 22px;
        padding: 11px 15px;
        min-width: 130px;
    }
    .ovic-tab.style-16 .tabs-head{
        display: block;
        margin-bottom: 20px;
    }
    .ovic-tab.style-16 .tab-title{
        font-size: 28px;
        line-height: 36px;
    }
    .ovic-tab.style-16 .tabs{
        width: auto;
        margin: 0;
        text-align: inherit;
    }
    .ovic-tab.style-16 .tab-item:not(:last-child){
        margin-right: 30px;
    }
    .ovic-tab.style-16 .tab-link{
        font-size: 16px;
        line-height: 24px;
        padding: 0;
    }
    .ovic-tab.style-16 .tab-link::before{
        right: -9px;
        width: 24px;
        height: 24px;
    }
    .ovic-tab.style-17 .tab-item:not(:last-child){
        margin-right: 35px;
    }
    .ovic-tab.style-18 .tab-item:not(:last-child){
        margin-right: 40px;
    }
    .ovic-tab.style-18 .tab-item:not(:last-child)::after{
        right: -22px;
    }
    .ovic-tab.style-18 .product-item.style-31 .thumb-link{
        padding: 10px;
    }
    .ovic-tab.style-18 .product-item.style-31 .product-info{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
    }
    .ovic-tab.style-18 .product-item.style-31 .thumb-link::before{
        left: 10px;
        right: 10px;
    }
    .ovic-tab.style-19 .tabs-head{
        margin-bottom: 12px;
    }
    .ovic-tab.style-19 .tab-title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 5px;
    }
    .ovic-tab.style-19 .tab-item:not(:last-child){
        margin-right: 20px;
    }
    .ovic-tab.style-20 .tabs-head{
        margin-bottom: 12px;
    }
    .ovic-tab.style-20 .tab-item{
        font-size: 14px;
        line-height: 24px;
    }
    .ovic-tab.style-20 .tab-item:not(:last-child){
        margin-right: 30px;
    }
    .ovic-tab.style-20 .tab-link .thumb{
        width: 45px;
    }
    .ovic-tab.style-20 .tab-link .title{
        margin-top: 3px;
    }
    .ovic-tab.style-21 .tab-item{
        min-width: 190px;
    }
    .ovic-tab.style-21 .tab-link{
        font-size: 18px;
        line-height: 25px;
        padding: 10px;
        height: 70px;
    }
    .ovic-tab.style-21 .tabs .thumb{
        width: 25px;
        margin-right: 6px;
    }
}