/*----- BANNER -----*/
.ovic-banner .inner{
    position: relative;
    overflow: hidden;
}
.ovic-banner .background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
}
.ovic-banner .target{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.ovic-banner .content::before,
.ovic-banner .content::after{
    display: table;
    content: '';
    clear: both;
}
.ovic-banner .content > *{
    position: relative;
    z-index: 3;
    margin: 0;
}
/* style-01 */
.ovic-banner.style-28 .background,
.ovic-banner.style-27 .background,
.ovic-banner.style-26 .background,
.ovic-banner.style-25 .background,
.ovic-banner.style-24 .background,
.ovic-banner.style-23 .background,
.ovic-banner.style-16 .background,
.ovic-banner.style-15 .background,
.ovic-banner.style-14 .background,
.ovic-banner.style-06 .background{
    background-position: left center;
}
.ovic-banner.style-52 .background,
.ovic-banner.style-41 .background,
.ovic-banner.style-21 .background,
.ovic-banner.style-20 .background,
.ovic-banner.style-19 .background,
.ovic-banner.style-07 .background{
    background-position: right center;
}
.ovic-banner.style-03 .inner,
.ovic-banner.style-01 .inner{
    padding: 29px 30px 40px;
}
.ovic-banner.style-03 .text-02,
.ovic-banner.style-01 .text-01{
    font-size: 24px;
    line-height: 30px;
}
.ovic-banner.style-03 .text-01,
.ovic-banner.style-01 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-28 .button,
.ovic-banner.style-27 .button,
.ovic-banner.style-25 .button,
.ovic-banner.style-24 .button,
.ovic-banner.style-16 .button,
.ovic-banner.style-15 .button,
.ovic-banner.style-14 .button,
.ovic-banner.style-13 .button,
.ovic-banner.style-12 .button,
.ovic-banner.style-11 .button,
.ovic-banner.style-06 .button,
.ovic-banner.style-03 .button,
.ovic-banner.style-01 .button{
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 2px;
    text-decoration: none;
    border-radius: 0;
    margin-top: 11px;
}
/* style-02 */
.ovic-banner.style-02 .inner{
    padding: 23px 30px 46px;
}
.ovic-banner.style-02 .text-01{
    font-size: 30px;
    line-height: 40px;
}
.ovic-banner.style-02 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-02 .button{
    padding: 3px 23px;
    margin-top: 21px;
}
/* style-04 */
.ovic-banner.style-04 .inner{
    padding: 22px 30px 30px;
    height: 575px;
}
.ovic-banner.style-04 .text-01{
    font-size: 36px;
    line-height: 43px;
}
.ovic-banner.style-04 .text-02{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 7px;
}
.ovic-banner.style-04 .button{
    margin-top: 24px;
}
/* style-05 */
.ovic-banner.style-05 .inner{
    padding: 30px 30px 48px;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ovic-banner.style-05 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.ovic-banner.style-05 .text-02{
    font-size: 36px;
    line-height: 40px;
    margin-top: 4px;
}
.ovic-banner.style-05 .button{
    background-color: #fff;
    margin-top: 23px;
}
/* style-06 */
.ovic-banner.style-06 .inner{
    padding: 48px 30px 46px;
}
.ovic-banner.style-06 .content{
    max-width: 175px;
    margin-right: auto;
}
.ovic-banner.style-06 .text-01{
    font-size: 30px;
    line-height: 36px;
}
.ovic-banner.style-06 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 2px;
}
.ovic-banner.style-06 .button{
    margin-top: 21px;
}
/* style-07 */
.ovic-banner.style-07 .inner{
    padding: 33px 30px 39px;
    height: 319px;
}
.ovic-banner.style-07 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.ovic-banner.style-07 .text-02{
    font-size: 36px;
    line-height: 40px;
}
.ovic-banner.style-07 .button{
    margin-top: 23px;
}
/* style-08 */
.ovic-banner.style-08 .inner{
    padding: 51px 30px 50px;
    height: 459px;
}
.ovic-banner.style-08 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.ovic-banner.style-08 .text-02{
    font-size: 30px;
    line-height: 36px;
    margin-top: 3px;
}
.ovic-banner.style-08 .button{
    margin-top: 23px;
}
/* style-09 */
.ovic-banner.style-09 .inner{
    padding: 25px 30px 30px;
    height: 450px;
}
.ovic-banner.style-09 .text-01{
    font-size: 18px;
    line-height: 24px;
}
.ovic-banner.style-09 .text-02{
    font-size: 36px;
    line-height: 36px;
    margin-top: 6px;
}
.ovic-banner.style-09 .button{
    padding: 3px 20px;
    margin-top: 20px;
}
/* style-10 */
.ovic-banner.style-10 .inner{
    padding: 29px 20px 37px;
}
.ovic-banner.style-10 .text-01{
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}
.ovic-banner.style-10 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin-top: 4px;
}
.ovic-banner.style-10 .button{
    margin-top: 15px;
    padding: 3px 12px;
}
/* style-11 */
.ovic-banner.style-11 .inner{
    padding: 26px 20px 58px;
}
.ovic-banner.style-11 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-11 .text-02{
    font-size: 24px;
    line-height: 29px;
    margin-top: 4px;
}
.ovic-banner.style-11 .button{
    margin-top: 9px;
}
/* style-12 */
.ovic-banner.style-12 .inner{
    padding: 20px 60px 23px;
}
.ovic-banner.style-12 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}
.ovic-banner.style-12 .text-02{
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-top: 3px;
}
.ovic-banner.style-12 .button{
    margin-top: 9px;
    color: #fff;
}
/* style-13 */
.ovic-banner.style-13 .inner{
    padding: 17px 40px 26px;
}
.ovic-banner.style-13 .text-01{
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}
.ovic-banner.style-13 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #b7b7b7;
    margin-top: 2px;
}
.ovic-banner.style-13 .button{
    margin-top: 10px;
    color: #fff;
}
/* style-14 */
.ovic-banner.style-14 .inner{
    padding: 21px 30px 22px;
}
.ovic-banner.style-14 .content{
    max-width: 160px;
    margin-right: auto;
}
.ovic-banner.style-14 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}
.ovic-banner.style-14 .text-02{
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-top: 3px;
}
.ovic-banner.style-14 .button{
    margin-top: 9px;
}
/* style-15 */
.ovic-banner.style-15 .inner{
    padding: 15px 30px 22px;
}
.ovic-banner.style-15 .content{
    max-width: 220px;
    margin-right: auto;
}
.ovic-banner.style-15 .text-01{
    font-size: 24px;
    line-height: 29px;
}
.ovic-banner.style-15 .button{
    margin-top: 9px;
}
/* style-16 */
.ovic-banner.style-16 .inner{
    padding: 16px 30px 28px;
}
.ovic-banner.style-16 .content{
    max-width: 180px;
    margin-right: auto;
}
.ovic-banner.style-16 .text-01{
    font-size: 24px;
    line-height: 29px;
}
.ovic-banner.style-16 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 2px;
}
.ovic-banner.style-16 .button{
    margin-top: 9px;
}
/* style-17 */
.ovic-banner.style-17 .inner{
    height: 400px;
    padding: 25px 89px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ovic-banner.style-17 .text-01{
    font-size: 43px;
    line-height: 48px;
}
.ovic-banner.style-17 .text-02{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: 400;
    margin-top: 16px;
}
.ovic-banner.style-17 .text-02 strong{
    font-size: 43px;
    line-height: 43px;
    text-transform: none;
    letter-spacing: 0;
    color: #b21133;
}
.ovic-banner.style-17 .button{
    margin-top: 25px;
    padding: 8px 35px;
}
/* style-18 */
.ovic-banner.style-18 .inner{
    height: 400px;
    padding: 25px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ovic-banner.style-18 .text-01{
    font-size: 43px;
    line-height: 48px;
}
.ovic-banner.style-18 .text-02{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ecb485;
    margin-top: 7px;
}
.ovic-banner.style-18 .button{
    margin-top: 25px;
    padding: 8px 35px;
}
/* style-19 */
.ovic-banner.style-19 .inner{
    padding: 100px 20px 35px;
}
.ovic-banner.style-19 .text-01{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #955a5b;
}
.ovic-banner.style-19 .text-02{
    font-size: 30px;
    line-height: 36px;
    margin-top: 1px;
}
/* style-20 */
.ovic-banner.style-20 .inner{
    padding: 31px 20px 64px;
}
.ovic-banner.style-20 .text-01{
    font-size: 30px;
    line-height: 36px;
}
.ovic-banner.style-20 .text-02{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-20 .button{
    padding: 3px 11px;
    margin-top: 15px;
}
/* style-21 */
.ovic-banner.style-21 .inner{
    padding: 28px 20px 45px;
}
.ovic-banner.style-21 .text-01{
    font-size: 30px;
    line-height: 36px;
}
.ovic-banner.style-21 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
    margin-top: -2px;
}
.ovic-banner.style-21 .text-02 strong{
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-top: 4px;
    color: #ff4e4e;
}
.ovic-banner.style-21 .button{
    padding: 3px 11px;
    margin-top: 15px;
}
/* style-22 */
.ovic-banner.style-22{
    position: relative;
}
.ovic-banner.style-22 .inner{
    padding: 70px 50px;
    height: 596px;
}
.ovic-banner.style-22 .text-01{
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    font-weight: 400;
}
.ovic-banner.style-22 .text-02{
    font-size: 36px;
    line-height: 40px;
}
.ovic-banner.style-22 .button{
    padding: 9px 32px;
    margin-top: 23px;
}
.ovic-banner.style-22 .text-03{
    position: absolute;
    top: 6px;
    right: -5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #4cd964;
    padding: 8px 22px 8px 10px;
}
.ovic-banner.style-22 .text-03::before{
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    width: 5px;
    height: 5px;
    border-top: 5px solid #006f13;
    border-right: 5px solid transparent;
}
.ovic-banner.style-22 .text-03::after{
    position: absolute;
    content: '';
    top: 0;
    left: 100%;
    width: 13px;
    height: 36px;
    border-top: 36px solid transparent;
    border-right: 13px solid #4cd964;
}
/* style-23 */
.ovic-banner.style-23 .inner{
    padding: 21px 30px 20px;
}
.ovic-banner.style-23 .content{
    max-width: 160px;
    margin-right: auto;
}
.ovic-banner.style-23 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-23 .text-02{
    font-size: 24px;
    line-height: 30px;
    margin-top: 2px;
}
/* style-24 */
.ovic-banner.style-24 .inner{
    padding: 30px 30px 29px;
}
.ovic-banner.style-24 .content{
    max-width: 190px;
    margin-right: auto;
}
.ovic-banner.style-24 .text-01{
    font-size: 24px;
    line-height: 30px;
}
.ovic-banner.style-24 .text-02{
    font-size: 24px;
    line-height: 30px;
    margin-top: 2px;
}
.ovic-banner.style-24 .text-02 strong{
    font-size: 30px;
    color: #fc1818;
    font-weight: 700;
}
.ovic-banner.style-24 .button{
    margin-top: 10px;
}
/* style-25 */
.ovic-banner.style-25 .inner{
    padding: 16px 30px 26px;
}
.ovic-banner.style-25 .content{
    max-width: 150px;
    margin-right: auto;
}
.ovic-banner.style-25 .text-01{
    font-size: 24px;
    line-height: 30px;
}
.ovic-banner.style-25 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
    margin-top: 1px;
}
.ovic-banner.style-25 .button{
    margin-top: 10px;
}
/* style-26 */
.ovic-banner.style-26 .inner{
    padding: 44px 30px 53px;
}
.ovic-banner.style-26 .content{
    max-width: 150px;
    margin-right: auto;
}
.ovic-banner.style-26 .text-01{
    font-size: 24px;
    line-height: 30px;
}
.ovic-banner.style-26 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
    margin-top: 3px;
}
/* style-27 */
.ovic-banner.style-27 .inner{
    padding: 44px 30px 56px;
}
.ovic-banner.style-27 .content{
    max-width: 140px;
    margin-right: auto;
}
.ovic-banner.style-27 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-27 .text-02{
    font-size: 24px;
    line-height: 29px;
    margin-top: 3px;
}
.ovic-banner.style-27 .button{
    margin-top: 9px;
}
/* style-28 */
.ovic-banner.style-28 .inner{
    padding: 25px 30px 35px;
}
.ovic-banner.style-28 .content{
    max-width: 132px;
    margin-right: auto;
}
.ovic-banner.style-28 .text-01{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-28 .text-02{
    font-size: 24px;
    line-height: 29px;
    margin-top: 4px;
}
.ovic-banner.style-28 .button{
    margin-top: 19px;
}
/* style-29 */
.ovic-banner.style-29 .inner{
    padding: 38px 110px 63px;
    overflow: hidden;
    border-radius: 12px;
}
.ovic-banner.style-29 .text-01{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-29 .text-02{
    font-size: 48px;
    line-height: 58px;
}
.ovic-banner.style-29 .button{
    padding: 8px 24px;
    margin-top: 14px;
}
/* style-30 */
.ovic-banner.style-32 .inner,
.ovic-banner.style-31 .inner,
.ovic-banner.style-30 .inner{
    height: 270px;
    padding: 19px 38px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ovic-banner.style-30 .text-01{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
}
.ovic-banner.style-30 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}
.ovic-banner.style-30 .text-03{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 13px;
}
.ovic-banner.style-30 .text-03 .highlight{
    font-size: 24px;
}
.ovic-banner.style-32 .button,
.ovic-banner.style-31 .button,
.ovic-banner.style-30 .button{
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 3px 0;
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 2px;
    text-decoration: none;
    border-radius: 0;
    margin-top: 19px;
}
.ovic-banner.style-32 strong,
.ovic-banner.style-32 b,
.ovic-banner.style-31 strong,
.ovic-banner.style-31 b,
.ovic-banner.style-30 strong,
.ovic-banner.style-30 b{
    font-weight: 700;
}
.ovic-banner.style-32 .hover,
.ovic-banner.style-31 .hover,
.ovic-banner.style-30 .hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 67%;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ovic-banner.style-32 .hover::before,
.ovic-banner.style-31 .hover::before,
.ovic-banner.style-30 .hover::before{
    position: absolute;
    content: '';
    bottom: calc(63% - 1px);
    left: 0;
    right: 0;
    height: 63%;
    background-color: inherit;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    transform: skew(-35deg);
}
.ovic-banner.style-32 .hover::after,
.ovic-banner.style-31 .hover::after,
.ovic-banner.style-30 .hover::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 63%;
    background-color: inherit;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: skew(35deg);
    -moz-transform: skew(35deg);
    -ms-transform: skew(35deg);
    -o-transform: skew(35deg);
    transform: skew(35deg);
}
.ovic-banner.style-32 .inner:hover .hover,
.ovic-banner.style-31 .inner:hover .hover,
.ovic-banner.style-30 .inner:hover .hover{
    -webkit-transform: translateX(-18%);
    -moz-transform: translateX(-18%);
    -ms-transform: translateX(-18%);
    -o-transform: translateX(-18%);
    transform: translateX(-18%);
}
.ovic-banner.style-32 .inner .background,
.ovic-banner.style-31 .inner .background,
.ovic-banner.style-30 .inner .background{
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ovic-banner.style-32 .inner:hover .background,
.ovic-banner.style-31 .inner:hover .background,
.ovic-banner.style-30 .inner:hover .background{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/* style-31 */
.ovic-banner.style-31 .text-01{
    display: table;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 5px 8px;
}
.ovic-banner.style-31 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 15px;
}
.ovic-banner.style-31 .text-03{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 9px;
}
.ovic-banner.style-31 .button{
    margin-top: 21px;
}
/* style-32 */
.ovic-banner.style-32 .text-01{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
.ovic-banner.style-32 .text-01 .highlight{
    font-size: 24px;
}
.ovic-banner.style-32 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 11px;
}
.ovic-banner.style-32 .text-03{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}
.ovic-banner.style-32 .button{
    margin-top: 23px;
}
/* style-33 */
.ovic-banner.style-33 .inner{
    display: flex;
    align-items: center;
    overflow: visible;
    margin-top: 50px;
    direction: ltr;
}
.ovic-banner.style-33 .content{
    width: 40%;
    padding: 50px 0 60px;
    direction: rtl;
}
.ovic-banner.style-33 .text-01{
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #fff;
}
.ovic-banner.style-33 .text-02{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 19px;
}
.ovic-banner.style-33 .button{
    padding: 13px 50px;
    background-color: transparent;
    z-index: 1;
    margin-top: 53px;
}
.ovic-banner.style-33 .button::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ovic-banner.style-33 .inner:not(:hover) .button::before{
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
.ovic-banner.style-33 .thumb{
    margin-top: -50px;
    margin-left: calc(50% - 50vw);
    width: calc(10% + 50vw);
    direction: rtl;
}
.ovic-banner.style-33 .thumb .thumb-inner{
    overflow: hidden;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: skew(22deg);
    -moz-transform: skew(22deg);
    -ms-transform: skew(22deg);
    -o-transform: skew(22deg);
    transform: skew(22deg);
}
.ovic-banner.style-33 .thumb figure{
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: skew(-22deg);
    -moz-transform: skew(-22deg);
    -ms-transform: skew(-22deg);
    -o-transform: skew(-22deg);
    transform: skew(-22deg);
}
.ovic-banner.style-33 .thumb img{
    width: auto;
    max-width: none;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/* style-34 */
.ovic-banner.style-34 .inner{
    text-align: center;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 705px;
}
.ovic-banner.style-35 .hover,
.ovic-banner.style-34 .hover{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 282px;
    height: 282px;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-image: url(./banner_deco.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
.ovic-banner.style-35 .inner:hover .hover,
.ovic-banner.style-34 .inner:hover .hover{
    opacity: 0.7;
    -webkit-animation: ovic-animation-scale-updown 2s cubic-bezier(0.42, 0, 0.5, 1) infinite;
    -o-animation: ovic-animation-scale-updown 2s cubic-bezier(0.42, 0, 0.5, 1) infinite;
    animation: ovic-animation-scale-updown 2s cubic-bezier(0.42, 0, 0.5, 1) infinite;
}
.ovic-banner.style-34 .text-01{
    font-family: 'Brushline', Sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
}
.ovic-banner.style-34 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: -11px;
}
.ovic-banner.style-35 .button,
.ovic-banner.style-34 .button{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.2em;
    background-color: transparent;
    padding: 4px 0;
    border-style: solid;
    border-width: 0 0 2px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}
.ovic-banner.style-35 .button:hover,
.ovic-banner.style-34 .button:hover{
    opacity: 0.7;
}
/* style-35 */
.ovic-banner.style-35 .inner{
    text-align: center;
    height: 633px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
}
.ovic-banner.style-35 .text-01{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.4em;
    margin-top: 22px;
}
.ovic-banner.style-35 .text-02{
    font-family: 'Brushline', Sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #fff;
    margin-top: 40px;
}
.ovic-banner.style-35 .button{
    margin-top: 10px;
}
/* style-36 */
.ovic-banner.style-39 .inner,
.ovic-banner.style-36 .inner{
    padding: 52px 50px 74px;
    height: 463px;
}
.ovic-banner.style-39 .text-01,
.ovic-banner.style-37 .text-01,
.ovic-banner.style-36 .text-01{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.ovic-banner.style-39 .text-02,
.ovic-banner.style-38 .text-02,
.ovic-banner.style-37 .text-02,
.ovic-banner.style-36 .text-02{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: inherit;
    margin-top: 4px;
}
.ovic-banner.style-39 .button,
.ovic-banner.style-37 .button,
.ovic-banner.style-36 .button{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    padding: 3px 0;
    border-radius: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 2px;
    text-decoration: none;
    margin-top: 18px;
}
/* style-37 */
.ovic-banner.style-37 .inner{
    padding: 41px 50px 67px;
}
.ovic-banner.style-37 .button{
    margin-top: 12px;
}
/* style-38 */
.ovic-banner.style-38 .inner{
    padding: 30px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 693px;
}
.ovic-banner.style-38 .text-01{
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}
.ovic-banner.style-38 .button{
    letter-spacing: 0.2em;
    padding: 8px 22px;
    margin-top: 25px;
}
/* style-39 */
.ovic-banner.style-39 .inner{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* style-40 */
.ovic-banner.style-40 .inner{
    padding: 45px 60px 52px;
}
.ovic-banner.style-40 .content{
    max-width: 500px;
}
.ovic-banner.style-40 .text-01{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
}
.ovic-banner.style-40 .text-02{
    font-size: 60px;
    line-height: 70px;
    margin-top: 14px;
}
.ovic-banner.style-40 .text-03{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    margin-top: 14px;
}
.ovic-banner.style-40 .button{
    margin-top: 38px;
}
/* style-41 */
.ovic-banner.style-41 .inner{
    padding: 81px 40px;
    border-radius: 6px;
    overflow: hidden;
}
.ovic-banner.style-41 .content{
    max-width: 250px;
}
.ovic-banner.style-42 .text-01,
.ovic-banner.style-41 .text-01{
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.ovic-banner.style-41 .text-02{
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    font-weight: 700;
    margin-top: 12px;
}
.ovic-banner.style-42 .button,
.ovic-banner.style-41 .button{
    font-size: 15px;
    line-height: 20px;
    background-color: transparent;
    padding: 2px 0;
    color: #fff;
    text-decoration: underline;
    text-transform: none;
    margin-top: 16px;
    font-weight: 400;
}
.ovic-banner.style-42 .button:hover,
.ovic-banner.style-41 .button:hover{
    opacity: 0.7;
}
/* style-42 */
.ovic-banner.style-42.left .inner{
    padding: 81px 70px 74px;
    border-radius: 6px;
    overflow: hidden;
}
.ovic-banner.style-42.right .inner{
    padding: 81px 30px 74px;
    border-radius: 6px;
    overflow: hidden;
}
.ovic-banner.style-42.left .content{
    max-width: 235px;
}
.ovic-banner.style-42.right .content{
    max-width: 215px;
    margin-right: auto;
}
.ovic-banner.style-42 .text-02{
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    margin-top: 7px;
}
/* style-43 */
.ovic-banner.style-43 .inner{
    padding: 30px 50px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ovic-banner.style-43 .text-01{
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
}
.ovic-banner.style-43 .text-02{
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 17px;
}
.ovic-banner.style-43 .text-02 .highlight{
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
}
.ovic-banner.style-43 .button{
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    margin-top: 46px;
}
.ovic-banner.style-43 .button::after{
    display: inline-block;
    vertical-align: top;
    font-family: FontAwesome, sans-serif;
    content: "\f137";
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}
/* style-44 */
.ovic-banner.style-44 .inner{
    padding: 30px 15px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ovic-banner.style-44 .hover{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 190px;
    height: 288px;
    max-width: 80%;
    max-height: 80%;
    border-style: solid;
    border-width: 13px;
    margin: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
}
.ovic-banner.style-44 .inner:hover .hover{
    opacity: 0.5;
    -webkit-animation: ovic-animation-scale-updown-3 2s cubic-bezier(0.42, 0, 0.5, 1) infinite;
    -o-animation: ovic-animation-scale-updown-3 2s cubic-bezier(0.42, 0, 0.5, 1) infinite;
    animation: ovic-animation-scale-updown-3 2s cubic-bezier(0.42, 0, 0.5, 1) infinite;
}
.ovic-banner.style-44 .text-01{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
.ovic-banner.style-44 .text-02{
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 18px;
}
.ovic-banner.style-44 .button{
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    padding: 5px 0;
    letter-spacing: 0.2em;
    border-style: solid;
    border-width: 0 0 2px;
    margin-top: 21px;
    text-decoration: none;
    color: #fff;
}
/* style-45 */
.ovic-banner.style-45 .inner{
    padding: 30px 50px 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ovic-banner.style-45 .text-01{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
}
.ovic-banner.style-45 .text-02{
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.2em;
    margin-top: 12px;
}
.ovic-banner.style-45 .button{
    background-color: transparent;
    padding: 0 8px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
.ovic-banner.style-45 .button:not(:hover)::before{
    opacity: 0.2;
}
.ovic-banner.style-45 .button::before{
    position: absolute;
    content: '';
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    -webkit-transition: top 0.2s ease, bottom 0.2s ease;
    -moz-transition: top 0.2s ease, bottom 0.2s ease;
    -o-transition: top 0.2s ease, bottom 0.2s ease;
    transition: top 0.2s ease, bottom 0.2s ease;
    z-index: -1;
}
.ovic-banner.style-45 .inner:hover .button::before{
    top: -40%;
    bottom: -40%;
}
/* style-46 */
.ovic-banner.style-48 .inner,
.ovic-banner.style-47 .inner,
.ovic-banner.style-46 .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 330px;
    text-align: center;
    padding: 25px 30px 30px;
}
.ovic-banner.style-48 .inner:not(:hover) .hover::before,
.ovic-banner.style-48 .inner:not(:hover) .hover::after,
.ovic-banner.style-47 .inner:not(:hover) .hover::before,
.ovic-banner.style-47 .inner:not(:hover) .hover::after,
.ovic-banner.style-46 .inner:not(:hover) .hover::before,
.ovic-banner.style-46 .inner:not(:hover) .hover::after{
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    -o-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
}
.ovic-banner.style-48 .hover::before,
.ovic-banner.style-48 .hover::after,
.ovic-banner.style-47 .hover::before,
.ovic-banner.style-47 .hover::after,
.ovic-banner.style-46 .hover::before,
.ovic-banner.style-46 .hover::after{
    position: absolute;
    content: '';
    top: -115px;
    right: -115px;
    width: 230px;
    height: 230px;
    background-color: inherit;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ovic-banner.style-48 .hover::after,
.ovic-banner.style-47 .hover::after,
.ovic-banner.style-46 .hover::after{
    top: auto;
    right: auto;
    left: -115px;
    bottom: -115px;
}
.ovic-banner.style-46 .text-01{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
}
.ovic-banner.style-46 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}
.ovic-banner.style-46 .text-03{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-weight: 400;
    margin-top: 8px;
}
.ovic-banner.style-46 .text-03 .highlight{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.ovic-banner.style-48 .button,
.ovic-banner.style-47 .button,
.ovic-banner.style-46 .button{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.2em;
    padding: 4px 0;
    background-color: transparent;
    color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    margin-top: 16px;
    text-decoration: none;
}
/* style-47 */
.ovic-banner.style-47 .text-01{
    display: table;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #222;
    background-color: #fff;
    padding: 1px 8px;
    letter-spacing: 0.1em;
    margin: 0 auto;
}
.ovic-banner.style-47 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 15px;
}
.ovic-banner.style-47 .text-03{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
    margin-top: 12px;
}
.ovic-banner.style-47 .button{
    margin-top: 28px;
}
/* style-48 */
.ovic-banner.style-48 .text-01{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-weight: 400;
    margin-top: 8px;
}
.ovic-banner.style-48 .text-01 .highlight{
    font-size: 24px;
    font-weight: 700;
}
.ovic-banner.style-48 .text-02{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}
.ovic-banner.style-48 .text-03{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 9px;
}
.ovic-banner.style-48 .button{
    margin-top: 25px;
}
/* style-49 */
.ovic-banner.style-49 .inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 810px;
    padding: 30px 30px 40px;
}
.ovic-banner.style-49 .text-01{
    font-family: 'Brushscript', sans-serif;
    font-size: 100px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.ovic-banner.style-49 .text-02{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}
.ovic-banner.style-49 .button{
    font-size: 15px;
    text-transform: none;
    padding: 11px 45px;
    background-color: #fff;
    margin-top: 26px;
}
/* style-50 */
.ovic-banner.style-50 .inner{
    height: 372px;
    padding: 2px 0 0;
}
.ovic-banner.style-50 .text-01{
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
}
.ovic-banner.style-50 .price-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    margin: 15px 0 0;
}
.ovic-banner.style-50 .number{
    font-size: 110px;
    line-height: 100px;
    margin-left: 3px;
}
.ovic-banner.style-50 .symbol{
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    padding: 3px 0;
    margin-left: 28px;
}
.ovic-banner.style-50 .text{
    display: block;
    font-size: 32px;
    line-height: 38px;
}
.ovic-banner.style-50 .title{
    font-size: 44px;
    line-height: 48px;
    padding: 2px 0;
}
.ovic-banner.style-50 .text-02{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: inherit;
    margin: 55px 0 0;
}
.ovic-banner.style-50 .button{
    font-size: 15px;
    padding: 11px 28px;
    text-transform: none;
    margin-top: 30px;
}
.ovic-banner.style-50 .text-03{
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    letter-spacing: 1.06em;
    border-style: solid;
    border-width: 2px;
    padding: 12px 18px 10px calc(18px - 1.06em);
    width: 372px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ovic-banner.style-50 .text-03 ~ .content{
    margin-right: 150px;
}
/* style-51 */
.ovic-banner.style-51 .inner{
    height: 320px;
}
.ovic-banner.style-51 .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px 40px;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ovic-banner.style-51 .content::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.ovic-banner.style-51 .text-01{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    letter-spacing: 0.1em;
}
.ovic-banner.style-51 .text-02{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}
.ovic-banner.style-51 .button{
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-top: 18px;
}
/* style-52 */
.ovic-banner.style-52 .inner{
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px 40px 30px;
}
.ovic-banner.style-52 .text-01{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.ovic-banner.style-52 .text-02{
    font-size: 34px;
    line-height: 40px;
}
.ovic-banner.style-52 .text-03{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 39px;
}
.ovic-banner.style-52 .button{
    font-size: 15px;
    text-transform: none;
    margin-top: 22px;
}
/* style-light */
.ovic-banner.light *[class*="text-"]{
    color: #fff;
}
/* style-53 */
.ovic-banner.style-53 .inner{
    height: 410px;
    display: flex;
    align-items: center;
    padding: 25px 50px 35px;
}
.ovic-banner.style-53 .text-01{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.ovic-banner.style-53 .text-02{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    margin-top: 19px;
}
.ovic-banner.style-53 .button{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    background-color: transparent;
    padding: 0 0 4px;
    text-decoration: none;
    border-style: solid;
    border-width: 0 0 2px;
    margin-top: 29px;
    color: #fff;
}
/* style-54 */
.ovic-banner.style-54 .inner{
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.ovic-banner.style-54 .text-01{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1em;
    z-index: 4;
}
.ovic-banner.style-54 .text-02{
    font-family: 'FloodStd', sans-serif;
    font-size: 72px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    z-index: 4;
}
.ovic-banner.style-54 .button-wrap{
    position: static;
}
.ovic-banner.style-54 .button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 3;
}
/* style-55 */
.ovic-banner.style-55 .inner{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 4px;
}
.ovic-banner.style-55 .text-01{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #ccc;
}
.ovic-banner.style-55 .text-01 .highlight{
    color: inherit;
    text-decoration: underline;
}
.ovic-banner.style-55 .text-02{
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    color: #fff;
    margin-top: 8px;
}
.ovic-banner.style-55 .button{
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
    background-color: transparent;
    padding: 0;
    letter-spacing: -0.01em;
    margin-top: 50px;
}
.ovic-banner.style-55 .button::after{
    display: inline-block;
    vertical-align: top;
    font-family: FontAwesome, sans-serif;
    content: "\f138";
    font-size: 16px;
    font-weight: 400;
    margin-right: 7px;
}
@media (min-width: 992px){
    .ovic-banner.style-33 .inner:hover .thumb img{
        -webkit-transform: translateX(80px);
        -moz-transform: translateX(80px);
        -ms-transform: translateX(80px);
        -o-transform: translateX(80px);
        transform: translateX(80px);
    }
}
@media (min-width: 1200px){
    .ovic-banner.style-33 .text-01{
        padding-left: 30px;
    }
    .ovic-banner.style-47 .hover::before{
        top: -200px;
        right: -200px;
        width: 400px;
        height: 400px;
    }
    .ovic-banner.style-47 .hover::after{
        left: -200px;
        bottom: -200px;
        width: 400px;
        height: 400px;
    }
    .ovic-banner.style-51 .inner:not(:hover) .content{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    .ovic-banner.style-51 .button{
        font-size: 16px;
        padding: 18px 40px;
    }
}
@media (min-width: 1500px){
    .ovic-banner.style-33 .text-01{
        padding-left: 120px;
    }
}
@media (max-width: 1499px) and (min-width: 1200px){
    .ovic-banner.style-19 .inner{
        padding: 76px 20px 15px;
    }
    .ovic-banner.style-22 .inner{
        height: 552px;
    }
}
@media (max-width: 1499px) and (min-width: 992px){
    .ovic-banner.style-03 .inner,
    .ovic-banner.style-01 .inner{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1499px){
    .ovic-banner.style-17 .inner{
        padding-left: 50px;
        padding-right: 50px;
    }
    .ovic-banner.style-22 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-34 .inner{
        height: 696px;
    }
    .ovic-banner.style-35 .inner{
        height: 550px;
    }
    .ovic-banner.style-43 .inner{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ovic-banner.style-44 .inner{
        height: 540px;
    }
    .ovic-banner.style-49 .inner{
        height: 715px;
    }
    .ovic-banner.style-53 .inner{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ovic-banner.style-54 .text-02{
        font-size: 62px;
    }
}
@media (max-width: 1199px){
    .ovic-banner.style-05 .inner,
    .ovic-banner.style-04 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-18 .inner,
    .ovic-banner.style-17 .inner{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ovic-banner.style-34 .inner{
        height: 601px;
    }
    .ovic-banner.style-35 .inner{
        height: 480px;
    }
    .ovic-banner.style-39 .inner,
    .ovic-banner.style-37 .inner,
    .ovic-banner.style-36 .inner{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ovic-banner.style-44 .inner{
        height: 440px;
    }
    .ovic-banner.style-49 .inner{
        height: 617px;
    }
    .ovic-banner.style-51 .text-02{
        font-size: 50px;
        line-height: 58px;
    }
    .ovic-banner.style-54 .inner{
        height: 300px;
    }
    .ovic-banner.style-55 .inner{
        height: 300px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .ovic-banner.style-55 .button{
        margin-top: 30px;
    }
}
@media (max-width: 991px){
    .ovic-banner.style-16 .content,
    .ovic-banner.style-14 .content{
        max-width: 220px;
    }
    .ovic-banner.style-33 .inner{
        display: block;
        direction: inherit;
    }
    .ovic-banner.style-33 .content{
        width: auto;
        direction: inherit;
        padding: 40px 0 50px;
    }
    .ovic-banner.style-33 .thumb{
        width: auto;
        direction: inherit;
    }
    .ovic-banner.style-33 .text-02{
        margin-top: 9px;
    }
    .ovic-banner.style-33 .button{
        margin-top: 33px;
    }
    .ovic-banner.style-34 .inner{
        height: 400px;
    }
    .ovic-banner.style-35 .inner{
        height: 380px;
    }
    .ovic-banner.style-39 .inner,
    .ovic-banner.style-36 .inner{
        height: 220px;
    }
    .ovic-banner.style-38 .inner{
        height: 300px;
    }
    .ovic-banner.style-43 .inner{
        height: 240px;
    }
    .ovic-banner.style-43 .button{
        margin-top: 20px;
    }
    .ovic-banner.style-44 .inner{
        height: 300px;
    }
    .ovic-banner.style-45 .inner{
        height: 300px;
    }
    .ovic-banner.style-48 .inner,
    .ovic-banner.style-47 .inner,
    .ovic-banner.style-46 .inner{
        height: 250px;
    }
    .ovic-banner.style-49 .inner{
        height: 350px;
        justify-content: center;
    }
    .ovic-banner.style-51 .inner{
        height: 250px;
    }
    .ovic-banner.style-51 .text-02{
        margin-top: 10px;
    }
    .ovic-banner.style-51 .button{
        margin-top: 13px;
    }
    .ovic-banner.style-53 .inner{
        height: 300px;
    }
}
@media (max-width: 767px){
    .ovic-banner.style-16 .inner,
    .ovic-banner.style-15 .inner,
    .ovic-banner.style-14 .inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .ovic-banner.style-29 .inner{
        padding-left: 60px;
        padding-right: 60px;
    }
    .ovic-banner.style-33 .content{
        padding: 20px 0 40px;
    }
    .ovic-banner.style-33 .text-01{
        font-size: 30px;
        line-height: 40px;
    }
    .ovic-banner.style-33 .button{
        margin-top: 25px;
        padding: 10px 40px;
    }
    .ovic-banner.style-40 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-40 .text-02{
        font-size: 40px;
        line-height: 50px;
    }
    .ovic-banner.style-40 .text-01{
        font-size: 17px;
        line-height: 22px;
    }
    .ovic-banner.style-40 .text-03{
        font-size: 13px;
        line-height: 23px;
    }
    .ovic-banner.style-40 .button{
        margin-top: 28px;
        padding: 8px 28px;
    }
    .ovic-banner.style-44 .text-02{
        font-size: 34px;
        line-height: 44px;
    }
    .ovic-banner.style-50 .inner{
        height: auto !important;
    }
    .ovic-banner.style-50 .text-03{
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        width: auto;
    }
    .ovic-banner.style-50 .text-03 ~ .content{
        margin-right: 0;
    }
    .ovic-banner.style-50 .text-01{
        font-size: 38px;
        line-height: 42px;
    }
    .ovic-banner.style-50 .text-02{
        font-size: 15px;
        line-height: 26px;
        margin-top: 25px;
    }
    .ovic-banner.style-50 .number{
        font-size: 80px;
        line-height: 70px;
    }
    .ovic-banner.style-50 .symbol{
        font-size: 40px;
        line-height: 36px;
        margin-left: 10px;
    }
    .ovic-banner.style-50 .text{
        font-size: 26px;
        line-height: 28px;
    }
    .ovic-banner.style-50 .title{
        font-size: 32px;
        line-height: 33px;
    }
    .ovic-banner.style-52 .inner{
        height: 280px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-52 .text-02{
        font-size: 30px;
        line-height: 36px;
    }
    .ovic-banner.style-52 .text-03{
        font-size: 14px;
        margin-top: 25px;
    }
    .ovic-banner.style-53 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-53 .text-02{
        margin-top: 14px;
    }
    .ovic-banner.style-53 .button{
        margin-top: 19px;
    }
    .ovic-banner.style-54 .inner{
        padding-left: 15px;
        padding-right: 15px;
        height: 250px;
    }
    .ovic-banner.style-54 .text-02{
        font-size: 52px;
    }
    .ovic-banner.style-55 .inner{
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-55 .text-01{
        font-size: 14px;
        line-height: 22px;
    }
    .ovic-banner.style-55 .text-02{
        font-size: 26px;
        line-height: 34px;
    }
    .ovic-banner.style-55 .button{
        font-size: 14px;
        line-height: 22px;
        margin-top: 20px;
    }
}
@media (max-width: 479px){
    .ovic-banner.style-13 .inner,
    .ovic-banner.style-12 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-18 .inner,
    .ovic-banner.style-17 .inner{
        height: 300px;
        padding: 25px 20px 30px;
    }
    .ovic-banner.style-18 .text-01,
    .ovic-banner.style-17 .text-01{
        font-size: 30px;
        line-height: 34px;
    }
    .ovic-banner.style-17 .text-02 strong{
        font-size: 30px;
        line-height: 34px;
    }
    .ovic-banner.style-19 .inner{
        padding: 80px 20px 35px;
    }
    .ovic-banner.style-20 .inner{
        padding: 41px 20px 44px;
    }
    .ovic-banner.style-21 .inner{
        padding: 33px 20px 40px;
    }
    .ovic-banner.style-29 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-29 .text-02{
        font-size: 40px;
        line-height: 48px;
    }
    .ovic-banner.style-32 .inner,
    .ovic-banner.style-31 .inner,
    .ovic-banner.style-30 .inner{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ovic-banner.style-34 .text-01{
        font-size: 70px;
        line-height: 70px;
    }
    .ovic-banner.style-34 .text-02{
        margin-top: 0;
    }
    .ovic-banner.style-39 .inner,
    .ovic-banner.style-37 .inner,
    .ovic-banner.style-36 .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-36 .text-01,
    .ovic-banner.style-37 .text-01,
    .ovic-banner.style-39 .text-01{
        font-size: 24px;
        line-height: 30px;
    }
    .ovic-banner.style-41 .inner{
        padding: 51px 30px;
    }
    .ovic-banner.style-42.left .inner{
        padding: 51px 30px 44px;
    }
    .ovic-banner.style-42.right .inner{
        padding: 51px 15px 44px;
    }
    .ovic-banner.style-45 .inner{
        height: 220px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-banner.style-45 .text-01{
        font-size: 40px;
        line-height: 50px;
    }
    .ovic-banner.style-45 .text-02{
        font-size: 14px;
        line-height: 24px;
        margin-top: 10px;
    }
    .ovic-banner.style-45 .button{
        margin-top: 15px;
    }
    .ovic-banner.style-49 .inner{
        padding-left: 15px;
        padding-right: 15px;
        height: 300px;
    }
    .ovic-banner.style-49 .text-01{
        font-size: 70px;
    }
    .ovic-banner.style-51 .text-02{
        font-size: 46px;
        line-height: 52px;
    }
    .ovic-banner.style-54 .text-02{
        font-size: 48px;
    }
}