
/*----- TESTMONIALS -----*/
.ovic-testmonials .desc{
    margin-bottom: 15px;
}
.ovic-testmonials .info{
    display: inline-block;
    vertical-align: top;
}
.ovic-testmonials .link{
    display: flex;
    align-items: center;
    text-decoration: none !important;
}
.ovic-testmonials .avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
}
.ovic-testmonials .content{
    flex: 1 1 auto;
    width: 1%;
    padding-left: 20px;
}
.ovic-testmonials .content > *{
    display: block;
    padding: 3px 0;
}
.ovic-testmonials .star-rating{
    padding: 0;
}
.ovic-testmonials .star-rating::before,
.ovic-testmonials .star-rating > span::before{
    content: '\f005\f005\f005\f005\f005';
}
/* style-01 */
.ovic-testmonials.style-01 .desc{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    font-size: 20px;
    line-height: 32px;
    color: #404040;
    font-style: italic;
    position: relative;
    padding: 40px 40px 21px;
    margin-bottom: 40px;
}
.ovic-testmonials.style-01 .desc::before{
    position: absolute;
    top: 32px;
    left: 40px;
    font-size: 42px;
    line-height: 1;
    font-style: normal;
    font-family: FontAwesome, sans-serif;
    content: "\f10d";
    opacity: 0.2;
}
.ovic-testmonials.style-01 .desc::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 24px;
    width: 24px;
    height: 12px;
    border-top: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.ovic-testmonials.style-01 .star-rating{
    font-style: normal;
    float: right;
    margin-top: 11px;
}
.ovic-testmonials.style-01 .star-rating::before,
.ovic-testmonials.style-01 .star-rating > span::before{
    font-size: 15px;
    letter-spacing: 0;
}
.ovic-testmonials.style-01 .position{
    color: #fff;
}
.ovic-testmonials.style-01 .name{
    font-size: 20px;
}
.ovic-testmonials.style-01 .slick-dots{
    position: absolute;
    bottom: 17px;
    right: 0;
    margin: 0 -7px;
    z-index: 4;
}
.ovic-testmonials.style-01 .slick-dots li{
    width: 10px;
    height: 10px;
    margin: 14px 7px 0;
    border-radius: 90px;
    background-color: #e6e7ee;
}
.ovic-testmonials.style-01 .slick-dots li.slick-active,
.ovic-testmonials.style-01 .slick-dots li:hover{
    background-color: #4f6aed;
}
/* style-02 */
.ovic-testmonials.style-02 .desc{
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
}
.ovic-testmonials.style-02 .name{
    font-size: 20px;
    line-height: 26px;
}
.ovic-testmonials.style-02 .position{
    font-size: 14px;
    line-height: 20px;
}
.ovic-testmonials.style-02 .slick-dots{
    margin-top: 12px;
    text-align: inherit;
}
.ovic-testmonials.style-02 .slick-dots li{
    background-color: #b1bfcb;
}
/* style-03 */
.ovic-testmonials.style-03 .avatar{
    width: 60px;
    height: 60px;
}
.ovic-testmonials.style-03 .desc{
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    color: #fff;
}
.ovic-testmonials.style-03 .name{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0;
}
/* style-04 */
.ovic-testmonials.style-04 .inner{
    display: flex;
    align-items: flex-end;
}
.ovic-testmonials.style-04 .avatar{
    width: 330px;
    height: auto;
    border-radius: 0;
}
.ovic-testmonials.style-04 .avatar a{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow: hidden;
}
.ovic-testmonials.style-04 .avatar a img{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ovic-testmonials.style-04 .avatar a:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.ovic-testmonials.style-04 .content-wrap{
    flex: 1 1 auto;
    width: 1%;
    padding: 0 0 104px 85px;
}
.ovic-testmonials.style-04 .star-rating{
    margin-bottom: 13px;
}
.ovic-testmonials.style-04 .star-rating::before,
.ovic-testmonials.style-04 .star-rating > span::before{
    font-size: 16px;
    letter-spacing: 0.1em;
}
.ovic-testmonials.style-04 .desc{
    font-size: 22px;
    line-height: 36px;
    font-style: italic;
    margin-bottom: 31px;
}
.ovic-testmonials.style-04 .link{
    display: inline-block;
    vertical-align: top;
    padding-left: 70px;
    position: relative;
}
.ovic-testmonials.style-04 .link::before{
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 50px;
    line-height: 1;
    font-family: FontAwesome, sans-serif;
    content: "\f10d";
}
.ovic-testmonials.style-04 .content{
    display: block;
    width: auto;
    padding: 0;
}
.ovic-testmonials.style-04 .name{
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}
.ovic-testmonials.style-04 .position{
    font-size: 14px;
    line-height: 20px;
}
.ovic-testmonials.style-04 .slick-slider .slick-arrow{
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    width: 46px !important;
    height: 46px !important;
    padding: 8px 0 !important;
    background-color: #fff !important;
    border-radius: 50% !important;
}
.ovic-testmonials.style-04 .slick-slider .slick-arrow::after{
    display: none;
}
.ovic-testmonials.style-04 .slick-slider .slick-arrow.prev{
    top: auto !important;
    left: auto !important;
    bottom: 108px !important;
    right: 56px !important;
}
.ovic-testmonials.style-04 .slick-slider .slick-arrow.next{
    bottom: 108px !important;
    right: 0 !important;
}
.ovic-testmonials.style-04.lighter .link::before{
    opacity: 0.3;
}
/* style-05 */
.ovic-testmonials.style-05{
    text-align: center;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow{
    width: 46px !important;
    font-size: 46px !important;
    line-height: 46px !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.prev{
    top: calc(50% - 23px) !important;
    left: -61px !important;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.next{
    bottom: calc(50% - 23px) !important;
    right: -61px !important;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.prev::before{
    content: '\e947' !important;
    margin-right: -22px !important;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.next::before{
    content: '\e948' !important;
    margin-left: -22px !important;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.prev:not(:hover)::after{
    opacity: 0;
}
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.prev::after,
.ovic-testmonials.style-05 .slick-slider > .slick-arrow.next::after{
    position: absolute !important;
    content: '' !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 50% !important;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
    z-index: -1 !important;
}
.ovic-testmonials.style-05 .avatar{
    display: inline-block;
    vertical-align: top;
    width: 89px;
    height: 89px;
    margin: 0 0 18px;
}
.ovic-testmonials.style-06 .link:hover .avatar img,
.ovic-testmonials.style-05 .avatar:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.ovic-testmonials.style-06 .avatar img,
.ovic-testmonials.style-05 .avatar img{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ovic-testmonials.style-05 .desc{
    max-width: 700px;
    font-size: 16px;
    line-height: 32px;
    margin: 0 auto 18px;
}
.ovic-testmonials.style-05 .content{
    width: auto;
    padding: 9px 0 0;
    position: relative;
}
.ovic-testmonials.style-05 .content::before{
    position: absolute;
    font-family: FontAwesome, sans-serif;
    content: "\f10e";
    top: 0;
    left: 0;
    right: 0;
    font-size: 64px;
    line-height: 54px;
    font-style: italic;
    z-index: -1;
}
.ovic-testmonials.style-05 .name{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Caros Bold', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.ovic-testmonials.style-05 .name a{
    text-decoration: none;
}
.ovic-testmonials.style-05 .position{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Caros', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
/* style-06 */
.ovic-testmonials.style-06 .testmonial{
    background-color: #fff;
    padding: 30px 30px 52px;
    position: relative;
}
.ovic-testmonials.style-06 .testmonial::before{
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    content: '”';
    top: 30px;
    right: 35px;
    font-size: 88px;
    line-height: 78px;
}
.ovic-testmonials.style-06 .info{
    padding-right: 50px;
}
.ovic-testmonials.style-06 .avatar{
    width: 90px;
    height: 90px;
}
.ovic-testmonials.style-06 .name{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
.ovic-testmonials.style-06 .position{
    font-size: 13px;
    line-height: 18px;
    color: #999;
}
.ovic-testmonials.style-06 .desc{
    font-size: 15px;
    line-height: 28px;
    color: inherit;
    margin: 26px 0 0;
}
@media (max-width: 1499px){
    .ovic-testmonials.style-01 .desc{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 1199px){
    .ovic-testmonials.style-04 .content-wrap{
        padding: 0 0 74px 30px;
    }
}
@media (max-width: 767px){
    .ovic-testmonials .content{
        padding-left: 15px;
    }
    .ovic-testmonials.style-02 .desc{
        font-size: 15px;
        line-height: 26px;
    }
    .ovic-testmonials.style-02 .name{
        font-size: 17px;
        line-height: 24px;
    }
    .ovic-testmonials.style-04 .inner{
        display: block;
    }
    .ovic-testmonials.style-04 .content-wrap{
        width: auto;
        padding: 30px 0 106px;
    }
    .ovic-testmonials.style-04 .slick-slider .slick-arrow.prev,
    .ovic-testmonials.style-04 .slick-slider .slick-arrow.next{
        bottom: 50px;
    }
    .ovic-testmonials.style-05 .slick-slider > .slick-arrow{
        width: 26px !important;
        font-size: 26px !important;
        line-height: 26px !important;
    }
    .ovic-testmonials.style-05 .slick-slider > .slick-arrow.prev{
        top: calc(50% - 13px) !important;
        left: -36px !important;
    }
    .ovic-testmonials.style-05 .slick-slider > .slick-arrow.next{
        bottom: calc(50% - 13px) !important;
        right: -36px !important;
    }
    .ovic-testmonials.style-05 .slick-slider > .slick-arrow.prev::before{
        margin-right: -15px !important;
    }
    .ovic-testmonials.style-05 .slick-slider > .slick-arrow.next::before{
        margin-left: -15px !important;
    }
}
@media (max-width: 479px){
    .ovic-testmonials.style-01 .desc{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ovic-testmonials.style-06 .testmonial{
        padding: 20px 20px 32px;
    }
    .ovic-testmonials.style-06 .avatar{
        width: 70px;
        height: 70px;
    }
    .ovic-testmonials.style-06 .desc{
        margin-top: 16px;
    }
}